@charset "UTF-8";
@font-face {
  font-family: "Lato";
  font-weight: 300;
  font-style: normal;
  src: url("fonts/lato/lato-lig-webfont-g.eot");
  src: url("fonts/lato/lato-lig-webfont-g.eot?#iefix") format("embedded-opentype"), url("fonts/lato/lato-lig-webfont-g.woff") format("woff"), url("fonts/lato/lato-lig-webfont-g.ttf") format("truetype"), url("fonts/lato/lato-lig-webfont.svg#latolight") format("svg");
}
@font-face {
  font-family: "Lato";
  font-weight: 300;
  font-style: italic;
  src: url("fonts/lato/lato-ligita-webfont-g.eot");
  src: url("fonts/lato/lato-ligita-webfont-g.eot?#iefix") format("embedded-opentype"), url("fonts/lato/lato-ligita-webfont-g.woff") format("woff"), url("fonts/lato/lato-ligita-webfont-g.ttf") format("truetype"), url("fonts/lato/lato-ligita-webfont.svg#latolight_italic") format("svg");
}
@font-face {
  font-family: "Lato";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/lato/lato-reg-webfont-g.eot");
  src: url("fonts/lato/lato-reg-webfont-g.eot?#iefix") format("embedded-opentype"), url("fonts/lato/lato-reg-webfont-g.woff") format("woff"), url("fonts/lato/lato-reg-webfont-g.ttf") format("truetype"), url("fonts/lato/lato-reg-webfont.svg#latoregular") format("svg");
}
@font-face {
  font-family: "Lato";
  font-weight: normal;
  font-style: italic;
  src: url("fonts/lato/lato-regita-webfont-g.eot");
  src: url("fonts/lato/lato-regita-webfont-g.eot?#iefix") format("embedded-opentype"), url("fonts/lato/lato-regita-webfont-g.woff") format("woff"), url("fonts/lato/lato-regita-webfont-g.ttf") format("truetype"), url("fonts/lato/lato-regita-webfont.svg#latoitalic") format("svg");
}
@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-style: normal;
  src: url("fonts/lato/lato-bol-webfont-g.eot");
  src: url("fonts/lato/lato-bol-webfont-g.eot?#iefix") format("embedded-opentype"), url("fonts/lato/lato-bol-webfont-g.woff") format("woff"), url("fonts/lato/lato-bol-webfont-g.ttf") format("truetype"), url("fonts/lato/lato-bol-webfont.svg#latobold") format("svg");
}
@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-style: italic;
  src: url("fonts/lato/lato-bolita-webfont-g.eot");
  src: url("fonts/lato/lato-bolita-webfont-g.eot?#iefix") format("embedded-opentype"), url("fonts/lato/lato-bolita-webfont-g.woff") format("woff"), url("fonts/lato/lato-bolita-webfont-g.ttf") format("truetype"), url("fonts/lato/lato-bolita-webfont.svg#latobold_italic") format("svg");
}

@font-face {
	font-family: 'DPW_Font';
	src:url('fonts/icon/DPW_Font.eot?z06xoz');
	src:url('fonts/icon/DPW_Font.eot?z06xoz#iefix') format('embedded-opentype'),
		url('fonts/icon/DPW_Font.ttf?z06xoz') format('truetype'),
		url('fonts/icon/DPW_Font.woff?z06xoz') format('woff'),
		url('fonts/icon/DPW_Font.svg?z06xoz#DPW_Font') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], .api-explorer .editor_holder .swagger-collapse:before, .api-explorer .editor_holder .swagger-expand:before, .api-explorer .editor_holder div.row div[data-schematype="object"] .json-editor-btn-delete:before, .api-explorer .editor_holder div.row div[data-schematype="object"] .json-editor-btn-moveup:before, .api-explorer .editor_holder div.row div[data-schematype="object"] .json-editor-btn-movedown:before, .api-explorer .editor_holder div.row div[data-schematype="string"] .json-editor-btn-delete:before, .api-explorer .editor_holder div.row div[data-schematype="string"] .json-editor-btn-moveup:before, .api-explorer .editor_holder div.row div[data-schematype="string"] .json-editor-btn-movedown:before, [class*=" icon-"] {
  font-family: "DPW_Font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */H */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_add:before, .api-explorer .editor_holder div[data-schemaid="root"] > h3 .swagger-expand:before {
  content: "\e905";
}

.icon-icon_minus:before, .api-explorer .editor_holder div[data-schemaid="root"] > h3 .swagger-collapse:before {
  content: "\e906";
}

.icon-arrow_rightsvg:before, .api-explorer .editor_holder .swagger-expand:before {
  content: "\e904";
}

.icon-icon_group:before {
  content: "\e902";
}

.icon-icon_stack:before {
  content: "\e903";
}

.icon-checkBox_check:before {
  content: "\e901";
}

.icon-checkBox:before {
  content: "\e900";
}

.icon-icon_delete:before, .api-explorer .editor_holder div.row div[data-schematype="object"] .json-editor-btn-delete:before, .api-explorer .editor_holder div.row div[data-schematype="string"] .json-editor-btn-delete:before {
  content: "\e801";
}

.icon-icon_dropDown_arrow:before {
  content: "\e802";
}

.icon-icon_window_fold:before {
  content: "\e805";
}

.icon-icon_window_open:before {
  content: "\e806";
}

.icon-info:before {
  content: "\e609";
}

.icon-ico_production:before {
  content: "\e606";
}

.icon-ico_sandbox:before {
  content: "\e607";
}

.icon-btn_dropdown:before, .api-explorer .editor_holder .swagger-collapse:before {
  content: "\e600";
}

.icon-btn_go:before {
  content: "\e601";
}

.icon-btn_refresh:before {
  content: "\e602";
}

.icon-btn_sort_down:before, .api-explorer .editor_holder div.row div[data-schematype="object"] .json-editor-btn-movedown:before, .api-explorer .editor_holder div.row div[data-schematype="string"] .json-editor-btn-movedown:before {
  content: "\e603";
}

.icon-btn_sort_up:before, .api-explorer .editor_holder div.row div[data-schematype="object"] .json-editor-btn-moveup:before, .api-explorer .editor_holder div.row div[data-schematype="string"] .json-editor-btn-moveup:before {
  content: "\e604";
}

.icon-ico_unlock:before {
  content: "\e60b";
}

.icon-ico_lock:before {
  content: "\e605";
}

.icon-ico_search:before {
  content: "\e608";
}

.icon-Analysis:before {
  content: "\e60a";
}

* {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  box-shadow: none;
  outline: none;
}

.ie9 .api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content select {
  background: none;
  padding-right: 3px;
}

.api-explorer li {
  list-style: none;
}
.api-explorer h2 {
  color: #585858;
}
.api-explorer select, .api-explorer input, .api-explorer textarea {
  color: #585858;
  font-size: 14px;
}
.api-explorer .editor_holder div {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
  position: static !important;
}
.api-explorer .editor_holder div[data-schemaid="root"] {
  border: 1px solid #dddddd !important;
  -webkit-border-radius: 3px !important;
  -khtml-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  -o-border-radius: 3px !important;
  border-radius: 3px !important;
}
.api-explorer .editor_holder div[data-schemaid="root"] > h3 + div + div {
  border-top: 1px solid #dddddd !important;
  -webkit-border-radius: 0 !important;
  -khtml-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
}
.api-explorer .editor_holder div[data-schemaid="root"] > h3 .json-editor-btn-collapse, .api-explorer .editor_holder div[data-schemaid="root"] > h3 .json-editor-btn-expand {
  cursor: pointer;
  position: absolute;
  left: 7px;
  top: 11px;
}
.api-explorer .editor_holder div[data-schemaid="root"] > h3 .swagger-expand:before, .api-explorer .editor_holder div[data-schemaid="root"] > h3 .swagger-collapse:before {
  font-size: 14px;
  font-weight: 700;
}
.api-explorer .editor_holder div[data-schematype="array"], .api-explorer .editor_holder div[data-schematype="object"], .api-explorer .editor_holder div[data-schematype="string"] {
  position: relative !important;
}
.api-explorer .editor_holder div[data-schematype="array"], .api-explorer .editor_holder div[data-schematype="object"] {
  border-bottom: 1px solid #dddddd !important;
}
.api-explorer .editor_holder div[data-schematype="array"] div[data-schematype="object"] {
  margin-left: 12px !important;
}
.api-explorer .editor_holder div[data-schemaid="root"] div[data-schematype="array"]:last-child {
  border-bottom: none !important;
}
.api-explorer .editor_holder .json-editor-btn-add, .api-explorer .editor_holder .json-editor-btn-delete, .api-explorer .editor_holder .json-editor-btn-moveup, .api-explorer .editor_holder .json-editor-btn-movedown {
  padding: 3px 5px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin: 10px 10px 10px 0px;
  cursor: pointer;
  background-color: #ff8800;
  color: white;
  display: inline-block;
  font-size: 12px;
  font-weight: 200;
}
.api-explorer .editor_holder .json-editor-btn-add:hover, .api-explorer .editor_holder .json-editor-btn-delete:hover, .api-explorer .editor_holder .json-editor-btn-moveup:hover, .api-explorer .editor_holder .json-editor-btn-movedown:hover {
  background-color: #ff9d2a;
}
.api-explorer .editor_holder .swagger-collapse, .api-explorer .editor_holder .swagger-expand {
  margin-right: 6px;
  font-size: 10px;
}
.api-explorer .editor_holder .swagger-collapse:before, .api-explorer .editor_holder .swagger-expand:before {
  color: #0073ae;
}
.api-explorer .editor_holder div.row {
  position: relative !important;
  margin: 12px 16px !important;
}
.api-explorer .editor_holder div.row .json-editor-btn-collapse, .api-explorer .editor_holder div.row .json-editor-btn-expand {
  cursor: pointer;
  position: absolute;
  left: -13px;
  top: 10px;
}
.api-explorer .editor_holder div.row .form-control {
  margin: 5px 0 !important;
}
.api-explorer .editor_holder div.row .form-control p {
  font-weight: 500;
}
.api-explorer .editor_holder div.row div[data-schematype="object"] > p {
  padding-bottom: 10px;
}
.api-explorer .editor_holder div.row div[data-schematype="object"] input[type="text"], .api-explorer .editor_holder div.row div[data-schematype="string"] input[type="text"] {
  width: 97%;
}
.api-explorer .editor_holder div.row div[data-schematype="object"] .json-editor-btn-delete, .api-explorer .editor_holder div.row div[data-schematype="object"] .json-editor-btn-moveup, .api-explorer .editor_holder div.row div[data-schematype="object"] .json-editor-btn-movedown, .api-explorer .editor_holder div.row div[data-schematype="string"] .json-editor-btn-delete, .api-explorer .editor_holder div.row div[data-schematype="string"] .json-editor-btn-moveup, .api-explorer .editor_holder div.row div[data-schematype="string"] .json-editor-btn-movedown {
  position: absolute;
  color: white;
  width: 25px;
  height: 25px;
  overflow: hidden;
  background-color: transparent;
  padding: 1px;
  margin: 0;
  right: 14px;
}
.api-explorer .editor_holder div.row div[data-schematype="object"] .json-editor-btn-movedown, .api-explorer .editor_holder div.row div[data-schematype="object"] .json-editor-btn-moveup, .api-explorer .editor_holder div.row div[data-schematype="string"] .json-editor-btn-movedown, .api-explorer .editor_holder div.row div[data-schematype="string"] .json-editor-btn-moveup {
  right: -1px;
  width: 14px;
  height: 14px;
}
.api-explorer .editor_holder div.row div[data-schematype="object"] .json-editor-btn-delete, .api-explorer .editor_holder div.row div[data-schematype="string"] .json-editor-btn-delete {
  top: -3px;
}
.api-explorer .editor_holder div.row div[data-schematype="object"] .json-editor-btn-movedown, .api-explorer .editor_holder div.row div[data-schematype="string"] .json-editor-btn-movedown {
  top: 7px;
}
.api-explorer .editor_holder div.row div[data-schematype="object"] .json-editor-btn-moveup, .api-explorer .editor_holder div.row div[data-schematype="string"] .json-editor-btn-moveup {
  top: -5px;
}
.api-explorer .editor_holder div.row div[data-schematype="object"] h3 .json-editor-btn-delete, .api-explorer .editor_holder div.row div[data-schematype="string"] h3 .json-editor-btn-delete {
  top: 5px;
}
.api-explorer .editor_holder div.row div[data-schematype="object"] h3 .json-editor-btn-movedown, .api-explorer .editor_holder div.row div[data-schematype="string"] h3 .json-editor-btn-movedown {
  top: 15px;
}
.api-explorer .editor_holder div.row div[data-schematype="object"] h3 .json-editor-btn-moveup, .api-explorer .editor_holder div.row div[data-schematype="string"] h3 .json-editor-btn-moveup {
  top: 3px;
}
.api-explorer .editor_holder div.row div[data-schematype="object"] .json-editor-btn-delete:before, .api-explorer .editor_holder div.row div[data-schematype="object"] .json-editor-btn-moveup:before, .api-explorer .editor_holder div.row div[data-schematype="object"] .json-editor-btn-movedown:before, .api-explorer .editor_holder div.row div[data-schematype="string"] .json-editor-btn-delete:before, .api-explorer .editor_holder div.row div[data-schematype="string"] .json-editor-btn-moveup:before, .api-explorer .editor_holder div.row div[data-schematype="string"] .json-editor-btn-movedown:before {
  color: #0073ae;
  cursor: pointer;
}
.api-explorer .editor_holder div.row div[data-schematype="object"] .json-editor-btn-delete:before, .api-explorer .editor_holder div.row div[data-schematype="string"] .json-editor-btn-delete:before {
  font-size: 20px;
}
.api-explorer .editor_holder div.row div[data-schematype="object"] .json-editor-btn-movedown:before, .api-explorer .editor_holder div.row div[data-schematype="string"] .json-editor-btn-movedown:before {
  font-size: 12px;
  font-weight: 700;
}
.api-explorer .editor_holder div.row div[data-schematype="object"] .json-editor-btn-moveup:before, .api-explorer .editor_holder div.row div[data-schematype="string"] .json-editor-btn-moveup:before {
  font-size: 12px;
  font-weight: 700;
}
.api-explorer .swagger-section #message-bar {
  padding-top: 0;
}
.api-explorer .swagger-section .swagger-ui-wrap table thead tr th {
  border: none;
}
.api-explorer .swagger-section .swagger-ui-wrap table thead tr th:first-child {
  min-width: 168px;
}
.api-explorer .swagger-section .swagger-ui-wrap table td {
  font-weight: 200;
}
.api-explorer .swagger-section .swagger-ui-wrap table strong {
  font-weight: 500;
}
.api-explorer .swagger-section .swagger-ui-wrap h3 {
  padding: 8px 0;
}
.api-explorer .swagger-section .swagger-ui-wrap p {
  padding-bottom: 0;
}
.api-explorer .swagger-section .swagger-ui-wrap input {
  border: 1px solid #eaeaea;
  height: 20px;
  padding: 4px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.api-explorer .swagger-section .swagger-ui-wrap input:focus {
  border-color: #0073ae;
}
.api-explorer .swagger-section .swagger-ui-wrap table .markdown ul {
  padding: 0;
}
.api-explorer .swagger-section .swagger-ui-wrap .markdown ul li {
  color: #585858;
}
.api-explorer .swagger-section .swagger-ui-wrap .tabular-description tr.row td {
  padding: 6px 6px 6px 0px;
}
.api-explorer .swagger-section .swagger-ui-wrap .tabular-description tr.first.property.row td {
  padding-top: 15px;
}
.api-explorer .swagger-section .swagger-ui-wrap .tabular-description tr.last.property.row td {
  padding-bottom: 15px;
}
.api-explorer .swagger-section .swagger-ui-wrap .tabular-description tr.row td.property-name {
  font-weight: 500;
  vertical-align: top;
  padding-right: 24px;
}
.api-explorer .swagger-section .swagger-ui-wrap .container {
  margin: 0 auto;
  width: 980px;
}
.api-explorer .swagger-section .swagger-ui-wrap .info_description {
  max-width: 980px;
}
.api-explorer .swagger-section .swagger-ui-wrap .info {
  padding: 24px 0 10px;
}
.api-explorer .swagger-section .swagger-ui-wrap .info .info_title {
  max-width: 988px;
}
.api-explorer .swagger-section .swagger-ui-wrap .info h2 {
  font-size: 18px;
  font-weight: 500;
}
.api-explorer .swagger-section .swagger-ui-wrap .info b {
  font-weight: 200;
}
.api-explorer .swagger-section .swagger-ui-wrap .info a {
  font-size: 14px;
}
.api-explorer .swagger-section .swagger-ui-wrap .info .markdown p {
  font-size: 18px;
  line-height: 18px;
}
.api-explorer .swagger-section .swagger-ui-wrap .info .markdown ol, .api-explorer .swagger-section .swagger-ui-wrap .info .markdown ul {
  padding-left: 37px;
}
.api-explorer .swagger-section .swagger-ui-wrap .info .markdown ol li {
  line-height: 24px;
  padding: 0;
  color: #585858;
}
.api-explorer .swagger-section .swagger-ui-wrap .info .markdown ul li {
  line-height: 18px;
  padding: 0;
}
.api-explorer .swagger-section .swagger-ui-wrap .options a {
  color: #585858;
}
.api-explorer .swagger-section .swagger-ui-wrap .options a:hover {
  color: #0073ae;
}
.api-explorer .swagger-section .swagger-ui-wrap .body-textarea {
  background-color: #ffffef;
}
.api-explorer .swagger-section .swagger-ui-wrap .footer {
  position: static;
  font-size: 14px;
  background-color: white;
  margin-top: 30px;
  color: #585858;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource {
  border-bottom: 1px solid #a9a9a9;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource div.heading h2 a {
  color: #585858;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints {
  border-top: 1px solid #ccc;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource.active {
  border-bottom: none;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation {
  margin: 0;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading {
  position: relative;
  padding: 0 22px;
  border-top: none;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading:before, .api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading:after {
  display: block;
  content: " ";
  width: 9px;
  height: 45px;
  position: absolute;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading:before {
  left: 0;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading:after {
  right: 0;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading:hover {
  background-color: #f9f9f9;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading h3 {
  font-weight: 200;
  font-size: 14px;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading span.http_method a {
  width: 91px;
  display: inline-block;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  height: 45px;
  line-height: 45px;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading ul.options {
  height: 45px;
  line-height: 45px;
  padding: 0;
  margin: 0;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading ul.options li {
  font-size: 14px;
  border-right: 1px solid #ccc;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.post.operation div.heading {
  border-left-color: #d6efdb;
  border-right-color: #d6efdb;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.post.operation div.heading h3 span.http_method a {
  color: #10a54a;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.post.operation div.heading:before, .api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.post.operation div.heading:after {
  background-color: #d6efdb;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.get.operation div.heading {
  border-left-color: #d7f4ff;
  border-right-color: #d7f4ff;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.get.operation div.heading h3 span.http_method a {
  color: #0073ae;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.get.operation div.heading:before, .api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.get.operation div.heading:after {
  background-color: #d7f4ff;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.put.operation div.heading {
  border-left-color: #f4ca98;
  border-right-color: #f4ca98;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.put.operation div.heading h3 span.http_method a {
  color: #d98f1a;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.put.operation div.heading:before, .api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.put.operation div.heading:after {
  background-color: #f4ca98;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.delete.operation div.heading {
  border-left-color: #ffcdce;
  border-right-color: #ffcdce;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.delete.operation div.heading h3 span.http_method a {
  color: #f04f4f;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.delete.operation div.heading:before, .api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.delete.operation div.heading:after {
  background-color: #ffcdce;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content {
  border-bottom: 1px solid #ccc;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  margin-bottom: 0;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content form input[type='text'].error {
  border: 1px solid #ff0000;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  height: 20px;
  outline: none;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content select {
  border: 1px solid #e9e9e9;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 1px 30px 3px 3px;
  min-width: 175px;
  max-width: 310px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('/images/drop_down_arrow.svg') no-repeat right top;
  background-color: #fbfbfb;
  -webkit-box-shadow: 2px 2px 5px #999 1px 1px 1px;
  -khtml-box-shadow: 2px 2px 5px #999 1px 1px 1px;
  -moz-box-shadow: 2px 2px 5px #999 1px 1px 1px;
  -ms-box-shadow: 2px 2px 5px #999 1px 1px 1px;
  -o-box-shadow: 2px 2px 5px #999 1px 1px 1px;
  box-shadow: 2px 2px 5px #999 1px 1px 1px;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content select::-ms-expand {
  display: none;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content select[multiple] {
  border: 1px solid #aaa;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 2px 2px 5px none;
  -khtml-box-shadow: 2px 2px 5px none;
  -moz-box-shadow: 2px 2px 5px none;
  -ms-box-shadow: 2px 2px 5px none;
  -o-box-shadow: 2px 2px 5px none;
  box-shadow: 2px 2px 5px none;
  padding: 0;
  margin: 0;
  background: none;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content .response-content-type select {
  margin-left: 20px;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content p {
  font-size: 14px;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content h4 {
  color: #0073ae;
  font-size: 24px;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content h3 {
  color: #585858;
  font-size: 18px;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content ul li {
  line-height: 24px;
  padding: 0;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content ul li b {
  font-weight: 200;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content .sandbox {
  border-top: 1px solid #a9a9a9;
  margin-top: 12px;
  padding-top: 17px;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content .sandbox h4 {
  margin-bottom: 14px;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header input.submit {
  padding: 0;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content .response_hider {
  font-size: 14px;
  font-weight: 500;
  padding-left: 14px;
  position: relative;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content .response_hider:before {
  position: absolute;
  left: 0;
  top: 8px;
  display: block;
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6.9px 4px 0 4px;
  border-color: #0073ae transparent transparent transparent;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content .model-signature {
  line-height: 24px;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content .model-signature pre {
  max-height: 400px;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content .propType {
  color: #0073ae;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content .signature-nav li {
  margin: 14px 12px 10px 0;
  padding-right: 12px;
  line-height: 10px;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content .signature-nav .selected {
  color: #0073ae;
  font-weight: 500;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content .signature-container p {
  display: inline;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content .response {
  border: 1px solid #ff8800;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 7px 24px 24px;
  margin-top: 24px;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content .response h4 {
  color: #ff8800;
}
.api-explorer .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content .response pre {
  background-color: #ffffef;
}
