
{
  "swagger": "2.0",
  "info": {
    "description": "<p>This is a beta interactive API explorer for the RingCentral Connect Platform. To use this service, you will need to have an account with the proper credentials to generate an OAuth2 access token.</p><p><b>Quick Start</b></p><ol><li>1) Go to <b>Authentication > /oauth/token</b></li><li>2) Enter <b>app_key, app_secret, username, password</b> fields and then click \"Try it out!\"</li><li>3) Upon success, your access_token is loaded and you can access any form requiring authorization.</li></ol><b>Links</b><ul><li><a href=\"https://developer.ringcentral.com/\">RingCentral Developer Program and API Docs</a></li><li><a href=\"https://github.com/ringcentral\">RingCentral SDKs on Github</a></li><li><a href=\"mailto:devsupport@ringcentral.com\">RingCentral Developer Support Email</a></li></ul>",
    "version": "1.0",
    "title": "RingCentral Connect Platform API Explorer",
    "termsOfService": "https://developer.ringcentral.com"
    },
  "host": "platform.devtest.ringcentral.com",
  "basePath": "/restapi",
  "tags": [
    {
      "name": "OAuth2",
      "description": ""
    },
    {
      "name" : "Authentication"
    },
    {
      "name": "REST Overview"
    },
    {
      "name": "API Usage Plans"
    },
    {
      "name": "Authentication"
    },
    {
      "name": "Client Info API"
    },
    {
      "name": "Exploring Account and Extension Settings"
    },
    {
      "name": "Modifying Extension Settings"
    },
    {
      "name": "Modifying Account"
    },
    {
      "name": "Managing User Accounts"
    },
    {
      "name": "Accessing Call Log"
    },
    {
      "name": "Working with Messages"
    },
    {
      "name": "RingOut"
    },
    {
      "name": "Conference Calling"
    },
    {
      "name": "Presence"
    },
    {
      "name": "Address Book"
    },
    {
      "name": "Notifications and Subscriptions"
    },
    {
      "name": "Dictionary: Getting Static Data"
    },
    {
      "name": "Phone Number Pool"
    },
    {
      "name": "Phone Number Provisioning"
    },
    {
      "name": "Working with Devices"
    },
    {
      "name": "Common Data Types and Structures"
    },
    {
      "name": "Authentication"
    },
    {
      "name": "API Versions"
    },
    {
      "name": "Account"
    },
    {
      "name": "Extension"
    },
    {
      "name": "Address Book"
    },
    {
      "name": "Blocked Numbers"
    },
    {
      "name": "Call Log"
    },
    {
      "name": "Conferencing"
    },
    {
      "name": "Devices"
    },
    {
      "name": "Messages"
    },
    {
      "name": "Ordering"
    },
    {
      "name": "Presence"
    },
    {
      "name": "RingOut"
    },
    {
      "name": "Client Application"
    },
    {
      "name": "Dictionary"
    },
    {
      "name": "Notifications: Subscription API"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/oauth/token": {
    "post": {
    "tags": [ "Authentication" ],
    "summary": "Get Token",
    "description": "<p>This endpoint supports two flows:</p><p> <b>1) Resource Owner Password Credentials Flow:</b> Issues new access and refresh tokens. Requests to this endpoint must be authenticated with HTTP Basic scheme. The following paramters are required for this flow: </p><ul style=\"margin:0 0 1em 2em\"> <li> <b>1) api_key</b> </li> <li> <b>2) api_secret</b> </li> <li> <b>3) username</b> </li> <li> <b>4) password</b> </li> </ul><p> This flow can use all the parameters below except for the <b>refresh_token</b> parameter which is used for the Refresh Token Flow decribed below. Since 1.0.4 (Release 5.13) </p><p> <b>2) Refresh Token Flow:</b> Issues new access and refresh tokens by previously issued refresh token. Requests to this endpoint must be authenticated with HTTP Basic scheme. The following parameters are required for this flow: </p><ul style=\"margin:0 0 1em 2em\"> <li> <b>1) api_key</b> </li> <li> <b>2) api_secret</b> </li> <li> <b>3) refresh_token</b> </li> </ul><p> The only formData paramter used for this flow is the <b>refresh_token</b> parameter. Since 1.0.4 (Release 5.13) </p>",
    "consumes": [ "application/x-www-form-urlencoded" ],
    "produces": [ "application/json", "application/xml" ],
    "parameters": [
      {
        "name": "app_key",
        "default": "",
        "type": "string",
        "description": "<b>Convenience to pre-populate the Authorization header only</b>",
        "required": false
      },
      {
        "name": "app_secret",
        "default": "",
        "type": "string",
        "description": "<b>Convenience to pre-populate the Authorization header only</b>",
        "required": false
      },
      {
        "name": "username",
        "type": "string",
        "in": "formData",
        "default": "",
        "description": "<b>Phone number linked to account or extension in account in E.164 format with or without leading \"+\" sign</b>",
        "required": false,
        "allowMultiple": false
      },
      {
        "name": "password",
        "type": "string",
        "in": "formData",
        "default": "",
        "description": "<b>User's password</b>",
        "required": false,
        "allowMultiple": false,
        "format": "password"
      },
      {
        "name": "extension",
        "type": "string",
        "in": "formData",
        "description": "Optional. Extension short number. If company number is specified as a username, and \"extension\" is not specified, the server will attempt to authenticate client as main company administrator",
        "required": false,
        "allowMultiple": false
      },
      {
        "name": "grant_type",
        "default": "password",
        "type": "string",
        "in": "formData",
        "description": "<b>Must hold \"password\" value for Resource Owner Credentials flow</b>",
        "required": false,
        "allowMultiple": false
      },
      {
        "name": "access_token_ttl",
        "in": "formData",
        "description": "Optional. Access token lifetime in seconds; the possible values are from 600 sec (10 min) to 3600 sec (1 hour). The default value is 3600 sec. If the value specified exceeds the default one, the default value is set. If the value specified is less than 600 seconds, the minimum value (600 sec) is set",
        "type": "integer",
        "format": "int64"
      },
      {
        "name": "refresh_token_ttl",
        "in": "formData",
        "description": "Optional. Refresh token lifetime in seconds; default is 604800 sec (1 week). If the value specified exceeds the default one, the default value is set",
        "type": "integer",
        "format": "int64"
      },
      {
        "name": "scope",
        "type": "string",
        "default": "",
        "description": "List of API permissions to be used with access token. Can be omitted when requesting all permissions defined during the application registration phase",
        "in": "formData"
      },
      {
        "name": "refresh_token",
        "type": "string",
        "default": "",
        "description": "Previously issued refresh token. This is the only formData field used for the Refresh Token Flow. It is not used for the Resource Owner Password Credentials Flow",
        "in": "formData"
      }
    ],
    "responses": {
      "400": {
        "description": "<ul> <li>1) invalid_request: Unsupported grant type</li> <li>2) invalid_client: Bad Application Release Status: Blocked</li> </ul>"
      },
      "415": {
        "description": "Unsupported Media Type"
      },
      "429": {
        "description": "Request rate exceeded"
      }
      }
    }
    },
    "/oauth/revoke": {
      "post": {
        "tags": [ "Authentication" ],
        "summary": "Revoke Token",
        "description": "Since 1.0.5 (Release 5.14)Revokes access/refresh token. Requests to this endpoint <b>must</b> be authenticated with HTTP Basic scheme using the application key and application secret as login and password, correspondingly. ",
        "consumes": [ "application/x-www-form-urlencoded" ],
        "parameters": [
          {
            "name": "app_key",
            "default": "",
            "type": "string",
            "description": "Used to populate the Authorization header",
            "required": true
          },
          {
            "name": "app_secret",
            "default": "",
            "type": "string",
            "description": "Used to populate the Authorization header",
            "required": true
          },
          {
            "name": "token",
            "type": "string",
            "in": "formData",
            "description": "Active access or refresh token to be revoked",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },

    
    "/" : {

    "get" : {
          "tags": [ "API Versions" ],
          "summary": "Get API Versions",
          "description": "<p style='font-style:italic;'>Since 1.0.0</p><p>Returns current API version(s) and server info.</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetVersionsResponse"
              }
            }
          }
      }},
    "/{apiVersion}" : {

    "get" : {
          "tags": [ "API Versions" ],
          "summary": "Get Version Info",
          "description": "<p style='font-style:italic;'>Since 1.0.0</p><p>Returns current API version info by apiVersion.</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "apiVersion",
              "type": "string",
              "in": "path",
              "description": "API version to be requested, for example 'v1.0'",              
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetVersionResponse"
              }
            }
          }
      }},
    "/v1.0/account" : {

    "post" : {
          "tags": [ "Account" ],
          "summary": "Create Account",
          "description": "<p style='font-style:italic;'>Since 1.0.10 (Release 6.2)</p><p>Creates the account in Initial state.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>Accounts</td><td>Managing accounts: creating new accounts, viewing and updating account information, deleting existing accounts</td></tr><tr><td class='code'>EditAccounts</td><td>Viewing and updating user account info (including name, business name, address and phone number/account number)</td></tr><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr><tr><td class='code'>EditExtensions</td><td>Viewing and updating user extension info (includes extension name, number, email and phone number, assigned phone numbers, devices and other extension settings)</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            {
              "name": "body",
              "type": "string",
              "in": "body",
              "description": "JSON body",
              "schema": {
                "$ref" : "#/definitions/CreateAccountRequest"
              },
              "required": true
            }
            
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetAccountInfoResponse"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}" : {

    "get" : {
          "tags": [ "Account" ],
          "summary": "Get Account Info",
          "description": "<p style='font-style:italic;'>Since 1.0.0</p><p>Returns basic information about a particular RingCentral customer account.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetAccountInfoResponse"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/business-address" : {

    "get" : {
          "tags": [ "Account" ],
          "summary": "Get Account Business Address",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Usage Plan Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      },"put" : {
          "tags": [ "Account" ],
          "summary": "Modify Account Business Address",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Usage Plan Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            {
              "name": "body",
              "type": "string",
              "in": "body",
              "description": "JSON body",
              "schema": {
                "$ref" : "#/definitions/"
              },
              "required": true
            }
            
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/phone-number" : {

    "get" : {
          "tags": [ "Account" ],
          "summary": "Get Account Phone Number List",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Usage Plan Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "integer",
              "in": "path",
              "description": "See Generic Path Parameters",              
              "required": true,
              "default": "~"
            },
            {
              "name": "page",
              "type": "integer",
              "in": "query",
              "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
              "in": "query",
              "description": "Indicates the page size (number of items). If not specified, the value is '100' by default",
              "required": false
            },
            {
              "name": "usageType",
              "type": "array",
              "items": {  
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["MainCompanyNumber","AdditionalCompanyNumber","CompanyNumber","DirectNumber","CompanyFaxNumber","ForwardedNumber"],
              "in": "query",
              "description": "Usage type of the phone number",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/phone-number/{phoneNumberId}" : {

    "get" : {
          "tags": [ "Account" ],
          "summary": "Get Phone Number",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Usage Plan Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "See Generic Path Parameters",              
              "required": true,
              "default": "~"
            },
            {
              "name": "phoneNumberId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a phone number",              
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/service-info" : {

    "get" : {
          "tags": [ "Account" ],
          "summary": "Get Account Service Info",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Usage Plan Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetServiceInfoResponse"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension" : {

    "get" : {
          "tags": [ "Extension" ],
          "summary": "Get Extension List",
          "description": "<p style='font-style:italic;'>Since 1.0.0</p><p>Returns the list of extensions created for a particular account. All types of extensions are included in this list.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "page",
              "type": "integer",
              "in": "query",
              "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'.",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
              "in": "query",
              "description": "Indicates the page size (number of items). If not specified, the value is '100' by default.",
              "required": false
            },
            {
              "name": "status",
              "type": "array",
              "items": {  
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Enabled","Disabled","NotActivated","Unassigned"],
              "in": "query",
              "description": "Extension current state. If 'Unassigned' is specified, then extensions without extensionNumber are returned. If not specified, then all extensions are returned",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetExtensionListResponse"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}" : {

    "get" : {
          "tags": [ "Extension" ],
          "summary": "Get Extension Info",
          "description": "<p style='font-style:italic;'>Since 1.0.0</p><p>Returns basic information about a particular extension of an account.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetExtensionInfoResponse"
              }
            }
          }
      },"put" : {
          "tags": [ "Extension" ],
          "summary": "Modify Extension",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Usage Plan Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of account, see Generic Path Parameters",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of extension, see Generic Path Parameters",              
              "required": true,
              "default": "~"
            },{
              "name": "body",
              "type": "string",
              "in": "body",
              "description": "JSON body",
              "schema": {
                "$ref" : "#/definitions/"
              },
              "required": true
            }
            
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/phone-number" : {

    "get" : {
          "tags": [ "Extension" ],
          "summary": "Get Extension Phone Number List",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Usage Plan Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "usageType",
              "type": "array",
              "items": {  
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["MainCompanyNumber","AdditionalCompanyNumber","CompanyNumber","DirectNumber","CompanyFaxNumber","ForwardedNumber"],
              "in": "query",
              "description": "Usage type of the phone number",
              "required": false
            },
            {
              "name": "page",
              "type": "integer",
              "in": "query",
              "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
              "in": "query",
              "description": "Indicates the page size (number of items). If not specified, the value is '100' by default",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/department/{departmentId}/members" : {

    "get" : {
          "tags": [ "Extension" ],
          "summary": "Get Department Member List",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Usage Plan Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of account, see Generic Path Parameters",              
              "required": true,
              "default": "~"
            },
            {
              "name": "departmentId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a Department extension (same as extensionId but only the ID of a department extension is valid)",              
              "required": true
            },
            {
              "name": "page, perPage",
              "type": "integer",
              "in": "query",
              "description": "Standard paging parameters, see Common Query Parameters in Collection Resources",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/address-book/contact" : {

    "post" : {
          "tags": [ "Address Book" ],
          "summary": "Create Single Contact",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Usage Plan Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId, extensionId",
              "type": "integer",
              "in": "path",
              "description": "See",              
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      },"get" : {
          "tags": [ "Address Book" ],
          "summary": "Get Address Book",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Usage Plan Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId, extensionId",
              "type": "integer",
              "in": "path",
              "description": "See",              
              "required": true
            },
            {
              "name": "startsWith",
              "type": "string",
              "in": "query",
              "description": "If specified, only contacts whose First name or Last name start with the mentioned substring are returned. Case-insensitive.",
              "required": false
            },
            {
              "name": "sortBy",
              "type": "array",
              "items": {  
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["FirstName","LastName","Company"],
              "in": "query",
              "description": "Sorts results by the specified property. The default is 'First Name'",
              "required": false
            },
            {
              "name": "page, perPage",
              "type": "integer",
              "in": "query",
              "description": "Standard paging parameters; see",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/address-book/contact/{contactId}" : {

    "get" : {
          "tags": [ "Address Book" ],
          "summary": "Get Contact",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Usage Plan Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId, extensionId",
              "type": "integer",
              "in": "path",
              "description": "See Generic Path Parameters",              
              "required": true
            },
            {
              "name": "contactId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a contact record in the RingCentral database",              
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      },"put" : {
          "tags": [ "Address Book" ],
          "summary": "Modify Contact",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Usage Plan Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId, extensionId",
              "type": "integer",
              "in": "path",
              "description": "See Generic Path Parameters",              
              "required": true
            },
            {
              "name": "contactId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a contact record in the RingCentral database",              
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      },"delete" : {
          "tags": [ "Address Book" ],
          "summary": "Delete Contact",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Usage Plan Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId, extensionId",
              "type": "integer",
              "in": "path",
              "description": "See",              
              "required": true
            },
            {
              "name": "contactId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a contact record in the RingCentral database",              
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/address-book/group" : {

    "get" : {
          "tags": [ "Address Book" ],
          "summary": "Get Group List",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Usage Plan Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId, extensionId",
              "type": "integer",
              "in": "path",
              "description": "See",              
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/address-book/group/{groupId}" : {

    "get /restapi/v1.0/account/accountid/extension/extensionid/address-book/group/groupid(s)" : {
          "tags": [ "Address Book" ],
          "summary": "Get Group",
          "description": "<p style='font-style:italic;'>Since 1.0.4 (Release 5.13)</p><p>Returns a group or several groups description, including the user-defined group name, number of contacts in the group, and optional note. Batch request is supported</p><h4>Usage Plan Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "groupId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a group in an address book",              
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/address-book-sync" : {

    "get" : {
          "tags": [ "Address Book" ],
          "summary": "Address Book Synchronization",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Usage Plan Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId, extensionId",
              "type": "integer",
              "in": "path",
              "description": "See",              
              "required": true
            },
            {
              "name": "syncType",
              "type": "array",
              "items": {  
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["FSync","ISync"],
              "in": "query",
              "description": "Type of synchronization. 'FSync' is a default value",
              "required": false
            },
            {
              "name": "syncToken",
              "type": "string",
              "in": "query",
              "description": "Value of syncToken property of the last sync request response",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
              "in": "query",
              "description": "Number of records per page to be returned, 1000 by default. For FSync- if there are more contacts than the page size, all pages will be retrieved in several requests. For ISync - if there are more contacts than the page size, the number of incoming changes to this number will be limited",
              "required": false
            },
            {
              "name": "page",
              "type": "integer ",
              "in": "query",
              "description": "For FSync - number of a page, the default is none",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/blocked-number" : {

    "post" : {
          "tags": [ "Blocked Numbers" ],
          "summary": "Add Blocked Number ",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Usage Plan Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId, extensionId",
              "type": "integer",
              "in": "path",
              "description": "See",              
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      },"get" : {
          "tags": [ "Blocked Numbers" ],
          "summary": "Get Blocked Number List",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Usage Plan Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId, extensionId",
              "type": "integer",
              "in": "path",
              "description": "See",              
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/blocked-number/{blockedNumberId}" : {

    "get" : {
          "tags": [ "Blocked Numbers" ],
          "summary": "Get Blocked Number",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Usage Plan Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId, extensionId",
              "type": "integer",
              "in": "path",
              "description": "See",              
              "required": true
            },
            {
              "name": "blockedNumberId",
              "type": "string",
              "in": "path",
              "description": "Internal identifiers of a blocked number list entry",              
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      },"put" : {
          "tags": [ "Blocked Numbers" ],
          "summary": "Update Blocked Number",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Usage Plan Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId, extensionId",
              "type": "integer",
              "in": "path",
              "description": "See",              
              "required": true
            },
            {
              "name": "blockedNumberId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a blocked number list entry",              
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      },"delete" : {
          "tags": [ "Blocked Numbers" ],
          "summary": "Delete Blocked Number",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Usage Plan Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId, extensionId",
              "type": "integer",
              "in": "path",
              "description": "See",              
              "required": true
            },
            {
              "name": "blockedNumberId",
              "type": "string",
              "in": "path",
              "description": "Internal identifiers of a blocked number list entry",              
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/active-calls" : {

    "get" : {
          "tags": [ "Call Log" ],
          "summary": "Get Account Active Calls",
          "description": "<p style='font-style:italic;'>Since 1.0.13 (Release 6.5)</p><p>Returns records of all calls that are in progress, ordered by start time in descending order.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "direction",
              "type": "array",
              "items": {  
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Inbound","Outbound"],
              "in": "query",
              "description": "The direction for the result records. It is allowed to specify more than one direction. If not specified, both inbound and outbound records are returned. Multiple values are accepted",
              "required": false
            },
            {
              "name": "type",
              "type": "array",
              "items": {  
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Voice","Fax"],
              "in": "query",
              "description": "Call type of a record. It is allowed to specify more than one type. If not specified, all call types are returned. Multiple values are accepted",
              "required": false
            },
            {
              "name": "page",
              "type": "integer",
              "in": "query",
              "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'.",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
              "in": "query",
              "description": "Indicates the page size (number of items). If not specified, the value is '100' by default.",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/AccountActiveCallsResponse"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/call-log" : {

    "get" : {
          "tags": [ "Call Log" ],
          "summary": "Get Call Log Records by Filter",
          "description": "<p style='font-style:italic;'>Since 1.0.3 (Release 5.11)</p><p>Returns call log records filtered by the specified parameters.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionNumber",
              "type": "string",
              "in": "query",
              "description": "Extension number of a user. If specified, returns call log for a particular extension only. Cannot be specified together with the phoneNumber filter",
              "required": false
            },
            {
              "name": "phoneNumber",
              "type": "string",
              "in": "query",
              "description": "Phone number of a caller/call recipient. If specified, returns all calls (both incoming and outcoming) with the mentioned phone number. Cannot be specified together with the extensionNumber filter",
              "required": false
            },
            {
              "name": "direction",
              "type": "array",
              "items": {  
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Inbound","Outbound"],
              "in": "query",
              "description": "The direction for the result records. It is allowed to specify more than one direction. If not specified, both inbound and outbound records are returned. Multiple values are accepted",
              "required": false
            },
            {
              "name": "type",
              "type": "array",
              "items": {  
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Voice","Fax"],
              "in": "query",
              "description": "Call type of a record. It is allowed to specify more than one type. If not specified, all call types are returned. Multiple values are accepted",
              "required": false
            },
            {
              "name": "view",
              "type": "array",
              "items": {  
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Simple","Detailed"],
              "in": "query",
              "description": "The default value is 'Simple' for both account and extension call log",
              "required": false
            },
            {
              "name": "withRecording",
              "type": "boolean",
              "in": "query",
              "description": "'True' if only recorded calls have to be returned",
              "required": false
            },
            {
              "name": "dateTo",
              "type": "datetime",
              "in": "query",
              "description": "Specifies the ending timestamp for result records. Default: current time",
              "required": false
            },
            {
              "name": "dateFrom",
              "type": "datetime",
              "in": "query",
              "description": "The start timestamp for result records. Default value is equal to dateTo minus 1 week",
              "required": false
            },
            {
              "name": "page",
              "type": "integer",
              "in": "query",
              "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'.",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
              "in": "query",
              "description": "Indicates the page size (number of items). If not specified, the value is '100' by default.",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/AccountCallLogResponse"
              }
            }
          }
      },"delete" : {
          "tags": [ "Call Log" ],
          "summary": "Delete Call Log Records by Filter",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Usage Plan Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "integer",
              "in": "path",
              "description": "See Generic Path Parameters",              
              "required": true,
              "default": "~"
            },
            {
              "name": "dateTo",
              "type": "datetime",
              "in": "query",
              "description": "Specifies the ending timestamp for records deletion. Optional",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/call-log/{callRecordId}" : {

    "get" : {
          "tags": [ "Call Log" ],
          "summary": "Get Call Log Record",
          "description": "<p style='font-style:italic;'>Since 1.0.3 (Release 5.11)</p><p>Returns individual call log record by callRecordId(s).</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "callRecordId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a call log record",              
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetAccountCallLogRecordResponse"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/active-calls" : {

    "get" : {
          "tags": [ "Call Log" ],
          "summary": "Get Active Calls",
          "description": "<p style='font-style:italic;'>Since 1.0.13 (Release 6.5)</p><p>Returns records of all extension calls that are in progress, ordered by start time in descending order.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "direction",
              "type": "array",
              "items": {  
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Inbound","Outbound"],
              "in": "query",
              "description": "The direction for the result records. It is allowed to specify more than one direction. If not specified, both inbound and outbound records are returned. Multiple values are accepted",
              "required": false
            },
            {
              "name": "type",
              "type": "array",
              "items": {  
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Voice","Fax"],
              "in": "query",
              "description": "Call type of a record. It is allowed to specify more than one type. If not specified, all call types are returned. Multiple values are accepted",
              "required": false
            },
            {
              "name": "page",
              "type": "integer",
              "in": "query",
              "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'.",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
              "in": "query",
              "description": "Indicates the page size (number of items). If not specified, the value is '100' by default.",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/ExtensionActiveCallsResponse"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/call-log" : {

    "get" : {
          "tags": [ "Call Log" ],
          "summary": "Get Call Log Records by Filter",
          "description": "<p style='font-style:italic;'>Since 1.0.3 (Release 5.11)</p><p>Returns call log records filtered by the specified parameters.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionNumber",
              "type": "string",
              "in": "query",
              "description": "Extension number of a user. If specified, returns call log for a particular extension only. Cannot be specified together with the phoneNumber filter",
              "required": false
            },
            {
              "name": "phoneNumber",
              "type": "string",
              "in": "query",
              "description": "Phone number of a caller/call recipient. If specified, returns all calls (both incoming and outcoming) with the mentioned phone number. Cannot be specified together with the extensionNumber filter",
              "required": false
            },
            {
              "name": "direction",
              "type": "array",
              "items": {  
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Inbound","Outbound"],
              "in": "query",
              "description": "The direction for the result records. It is allowed to specify more than one direction. If not specified, both inbound and outbound records are returned. Multiple values are accepted",
              "required": false
            },
            {
              "name": "type",
              "type": "array",
              "items": {  
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Voice","Fax"],
              "in": "query",
              "description": "Call type of a record. It is allowed to specify more than one type. If not specified, all call types are returned. Multiple values are accepted",
              "required": false
            },
            {
              "name": "view",
              "type": "array",
              "items": {  
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Simple","Detailed"],
              "in": "query",
              "description": "The default value is 'Simple' for both account and extension call log",
              "required": false
            },
            {
              "name": "withRecording",
              "type": "boolean",
              "in": "query",
              "description": "'True' if only recorded calls have to be returned",
              "required": false
            },
            {
              "name": "dateTo",
              "type": "datetime",
              "in": "query",
              "description": "Specifies the ending timestamp for result records. Default: current time",
              "required": false
            },
            {
              "name": "dateFrom",
              "type": "datetime",
              "in": "query",
              "description": "The start timestamp for result records. Default value is equal to dateTo minus 1 week",
              "required": false
            },
            {
              "name": "page",
              "type": "integer",
              "in": "query",
              "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'.",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
              "in": "query",
              "description": "Indicates the page size (number of items). If not specified, the value is '100' by default.",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/ExtensionCallLogResponse"
              }
            }
          }
      },"delete" : {
          "tags": [ "Call Log" ],
          "summary": "Delete Call Log Records by Filter",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Usage Plan Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId, extensionId",
              "type": "integer",
              "in": "path",
              "description": "See Generic Path Parameters",              
              "required": true
            },
            {
              "name": "dateTo",
              "type": "datetime",
              "in": "query",
              "description": "Specifies the ending timestamp for records deletion. Optional",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/call-log/{callRecordId}" : {

    "get" : {
          "tags": [ "Call Log" ],
          "summary": "Get Call Log Record",
          "description": "<p style='font-style:italic;'>Since 1.0.3 (Release 5.11)</p><p>Returns individual call log record by callRecordId(s).</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "callRecordId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a call log record",              
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetExtensionCallLogRecordResponse"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/call-log-sync" : {

    "get" : {
          "tags": [ "Call Log" ],
          "summary": "Call Log Synchronization",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Usage Plan Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId, extensionId",
              "type": "integer",
              "in": "path",
              "description": "See",              
              "required": true
            },
            {
              "name": "syncType",
              "type": "array",
              "items": {  
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["FSync","ISync"],
              "in": "query",
              "description": "Type of synchronization. 'FSync' is a default value",
              "required": false
            },
            {
              "name": "syncToken",
              "type": "string",
              "in": "query",
              "description": "Value of syncToken property of last sync request response",
              "required": false
            },
            {
              "name": "dateFrom",
              "type": "datetime",
              "in": "query",
              "description": "The start timestamp for result call log records. Default value is the current moment",
              "required": false
            },
            {
              "name": "recordCount",
              "type": "integer",
              "in": "query",
              "description": "For FSync the parameter is mandatory, it limits the number of records to be returned in response. For ISync it specifies with how many records to extend sync Frame to the past, and its value is limited to 250",
              "required": false
            },
            {
              "name": "statusGroup",
              "type": "array",
              "items": {  
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Missed","All"],
              "in": "query",
              "description": "Type of calls to be returned. The default value is 'All'",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/recording/{recordingId}" : {

    "get" : {
          "tags": [ "Call Log" ],
          "summary": "Get Call Recording",
          "description": "<p style='font-style:italic;'>Since 1.0.18</p><p>Returns call recording metadata.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallRecording</td><td>Downloading call recording content</td></tr><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "recordingId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of recording (returned in Call Log)",              
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetCallRecordingResponse"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/recording/{recordingId}/content" : {

    "get" : {
          "tags": [ "Call Log" ],
          "summary": "Get Call Recording Data",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Usage Plan Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "See Generic Path Parameters",              
              "required": true,
              "default": "~"
            },
            {
              "name": "recordingId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a call recording, see Recording Info",              
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/conferencing" : {

    "get" : {
          "tags": [ "Conferencing" ],
          "summary": "Get Conferencing Info",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Usage Plan Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      },"put" : {
          "tags": [ "Conferencing" ],
          "summary": "Modify Conferencing Data",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>EditExtensions</td><td>Viewing and updating my extension info (includes extension name, number, email and phone number)</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },{
              "name": "body",
              "type": "string",
              "in": "body",
              "description": "JSON body",
              "schema": {
                "$ref" : "#/definitions/"
              },
              "required": true
            }
            
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/device" : {

    "get" : {
          "tags": [ "Devices" ],
          "summary": "Get Account Device List",
          "description": "<p style='font-style:italic;'>Since 1.0.12 (Release 6.4)</p><p>Returns all the devices for a particular extension. Batch request is supported.</p><h4>Usage Plan Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetAccountDevicesResponse"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/device/{deviceId}" : {

    "get" : {
          "tags": [ "Devices" ],
          "summary": "Get Device Info",
          "description": "<p style='font-style:italic;'>Since 1.0.9 (Release 6.1)</p><p>Returns device information.</p><h4>Usage Plan Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "deviceId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a device",              
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetDeviceInfoResponse"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/device" : {

    "get" : {
          "tags": [ "Devices" ],
          "summary": "Get Extension Device List",
          "description": "<p style='font-style:italic;'>Since 1.0.12 (Release 6.4)</p><p>Returns all the devices for a particular extension. Batch request is supported.</p><h4>Usage Plan Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetExtensionDevicesResponse"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/company-pager" : {

    "post" : {
          "tags": [ "Messages" ],
          "summary": "Create Pager Message",
          "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Creates and sends a pager message.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>InternalMessages</td><td>Sending and receiving intra-company text messages</td></tr><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },{
              "name": "body",
              "type": "string",
              "in": "body",
              "description": "JSON body",
              "schema": {
                "$ref" : "#/definitions/CreatePagerMessageRequest"
              },
              "required": true
            }
            
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetMessageInfoResponse"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/fax" : {

                "post": {
                "tags": [ "Messages" ],
                "summary": "Create Fax Message",
                "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Creates and sends/resends new fax message. Resend can be done if sending failed.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>Faxes</td><td>Sending and receiving faxes</td></tr><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
                "consumes" : [
                    "multipart/mixed; boundary=Boundary_1_14413901_1361871080888"
                ],
                "produces" : [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "Internal identifier of a RingCentral account (integer) or tilde (~) to indicate the account which was logged-in within the current session.",
                        "notes": "",
                        "paramType": "path",
                        "defaultValue": "~",
                        "required": true,
                        "allowMultiple": false,
                        "type": "string"
                    },
                    {
                        "name": "extensionId",
                        "in": "path",
                        "description": "Internal identifier of an extension (integer) or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
                        "notes": "",
                        "paramType": "path",
                        "defaultValue": "~",
                        "required": true,
                        "allowMultiple": false,
                        "type": "string"
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "default": "multipart/mixed; boundary=Boundary_1_14413901_1361871080888",
                        "type": "string",
                        "description": "This form fills out this required field automatically using the example MIME boundary string."
                    },
                    {
                        "name": "Content-Length",
                        "in": "header",
                        "default": "",
                        "description": "Actual content length. This form fills out this required field automatically.",
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "consumes": [ "multipart/mixed; boundary=Boundary_1_14413901_1361871080888" ],
                        "default": "--Boundary_1_14413901_1361871080888\nContent-Type: application/json\n\n{\n  \"to\":[{\"phoneNumber\":\"18005630003\"}],\n  \"faxResolution\":\"High\",\n  \"sendTime\":\"2013-02-26T09:31:20.882Z\"\n}\n\n--Boundary_1_14413901_1361871080888\nContent-Type: text/plain\n\nHello, World!\n\n--Boundary_1_14413901_1361871080888--",
                        "type": "string",
                        "description": "Multi-part MIME consisting of one part JSON body and one part text. For the MIME boundary, in this UI, use \"Boundary_1_14413901_1361871080888\". JSON body values:<br><br><table style=\"border:1px #aaa black\"><tr><td>Property</td><td>Data type</td><td>Description</td></tr><tr><td><b>to</b></td><td>Contact Info object</td><td>Recipient information. <b>phoneNumber</b> property is mandatory</td></tr><tr><td>resolution</td><td><select><option>High</option><option>Low</option></select></td><td>Fax resolution</td></tr><tr><td>sendTime</td><td>datetime</td><td>Optional. Timestamp to send fax at. If not specified (current or the past), the fax is sent immediately</td></tr><tr><td>coverIndex</td><td>Integer (0-13)<br><select><option>0 (none - no cover page)</option><option>1 (\"Ancient\" cover page)</option><option>2 (\"Birthday\" cover page)</option><option>3 (\"Blank\" cover page)</option><option>4 (\"Clasmod\" cover page)</option><option>5 (\"Classic\" cover page)</option><option>6 (\"Confidential\" cover page)</option><option>7 (\"Contempo\" cover page)</option><option>8 (\"Elegant\" cover page)</option><option>9 (\"Express\" cover page)</option><option>10 (\"Formal\" cover page)</option><option>11 (\"Jazzy\" cover page)</option><option>12 (\"Modern\" cover page)</option><option>13 (\"Urgent\" cover page)</option></select></td><td>Optional. Cover page index. If not specified, the default cover page which is configured in \"Outbound Fax Settings\" is attached. See also \"Available Cover Pages\" table below</td></tr><tr><td>coverPageText</td><td>string</td><td>Optional. Cover page text, entered by the fax sender and printed on the cover page. Maximum length is limited to 1024 symbols</td></tr></table>"
                    }
                ]
            }
        },
    "/v1.0/account/{accountId}/extension/{extensionId}/sms" : {

    "post" : {
          "tags": [ "Messages" ],
          "summary": "Create SMS Message",
          "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Creates and sends new SMS message.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>SMS</td><td>Sending and receiving SMS (text) messages</td></tr><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },{
              "name": "body",
              "type": "string",
              "in": "body",
              "description": "JSON body",
              "schema": {
                "$ref" : "#/definitions/CreateSMSMessage"
              },
              "required": true
            }
            
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetMessageInfoResponse"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/message-store" : {

    "get" : {
          "tags": [ "Messages" ],
          "summary": "Get Message List",
          "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Returns the list of messages from an extension mailbox.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "availability",
              "type": "array",
              "items": {  
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Alive","Deleted","Purged"],
              "in": "query",
              "description": "Specifies the availability status for the resulting messages. Default value is 'Alive'. Multiple values are accepted",
              "required": false
            },
            {
              "name": "conversationId",
              "type": "integer",
              "in": "query",
              "description": "Specifies the conversation identifier for the resulting messages",
              "required": false
            },
            {
              "name": "dateFrom",
              "type": "datetime",
              "in": "query",
              "description": "The start timestamp for the resulting messages. Default value is equal to dateTo minus 1 week",
              "required": false
            },
            {
              "name": "dateTo",
              "type": "datetime",
              "in": "query",
              "description": "Specifies the ending timestamp for the resulting messages. Default: current time",
              "required": false
            },
            {
              "name": "direction",
              "type": "array",
              "items": {  
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Inbound","Outbound"],
              "in": "query",
              "description": "The direction for the resulting messages. If not specified, both inbound and outbound messages are returned. Multiple values are accepted",
              "required": false
            },
            {
              "name": "messageType",
              "type": "array",
              "items": {  
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Fax","SMS","VoiceMail","Pager","Text"],
              "in": "query",
              "description": "The type of the resulting messages. If not specified, all messages without message type filtering are returned. Multiple values are accepted",
              "required": false
            },
            {
              "name": "readStatus",
              "type": "array",
              "items": {  
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Read","Unread"],
              "in": "query",
              "description": "The read status for the resulting messages. Multiple values are accepted",
              "required": false
            },
            {
              "name": "page",
              "type": "integer",
              "in": "query",
              "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
              "in": "query",
              "description": "Indicates the page size (number of items). If not specified, the value is '100' by default",
              "required": false
            },
            {
              "name": "phoneNumber",
              "type": "string",
              "in": "query",
              "description": "The phone number. If specified, messages are returned for this particular phone number only",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetMessageList"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/message-store/{messageId}" : {

    "get" : {
          "tags": [ "Messages" ],
          "summary": "Get Message Info",
          "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Returns individual message record(s) by the given message ID(s). The length of inbound messages is unlimited. Batch request is supported.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "messageId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a message",              
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetMessageInfoResponse"
              }
            }
          }
      },"put" : {
          "tags": [ "Messages" ],
          "summary": "Update Message",
          "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Updates an individual message or several messages. Batch request is supported. Currently, only the message read status updating is supported.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>EditMessages</td><td>Viewing and updating user messages</td></tr><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "messageId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a message",              
              "required": true
            },{
              "name": "body",
              "type": "string",
              "in": "body",
              "description": "JSON body",
              "schema": {
                "$ref" : "#/definitions/UpdateMessageRequest"
              },
              "required": true
            }
            
[...]
