{
  "swagger": "2.0",
  "info": {
    "description": "<p>This is a beta interactive API explorer for the RingCentral Connect Platform. To use this service, you will need to have an account with the proper credentials to generate an OAuth2 access token.</p><p><h2>Quick Start</h2></p><ol><li>1) Go to <b>Authentication > /oauth/token</b></li><li>2) Enter <b>app_key, app_secret, username, password</b> fields and then click \"Try it out!\"</li><li>3) Upon success, your access_token is loaded and you can access any form requiring authorization.</li></ol><h2>Links</h2><ul><li><a href=\"https://github.com/ringcentral\" target=\"_blank\">RingCentral SDKs on Github</a></li><li><a href=\"mailto:devsupport@ringcentral.com\">RingCentral Developer Support Email</a></li></ul>",
    "version": "1.0",
    "title": "RingCentral Connect Platform API Explorer",
    "termsOfService": "https://developer.ringcentral.com"
    },
  "host": "platform.devtest.ringcentral.com",
  "basePath": "/restapi",
  "tags": [
    {
      "name": "OAuth2",
      "description": ""
    },
    {
      "name" : "Authentication"
    },
    {
      "name": "REST Overview"
    },
    {
      "name": "API Usage Plans"
    },
    {
      "name": "Authentication"
    },
    {
      "name": "Exploring Account and Extension Settings"
    },
    {
      "name": "Accessing Call Log"
    },
    {
      "name": "Working with Messages"
    },
    {
      "name": "RingOut"
    },
    {
      "name": "Notifications and Subscriptions"
    },
    {
      "name": "Dictionary: Getting Static Data"
    },
    {
      "name": "Common Data Types and Structures"
    },
    {
      "name": "Authentication"
    },
    {
      "name": "API Versions"
    },
    {
      "name": "Account"
    },
    {
      "name": "Extension"
    },
    {
      "name": "Call Log"
    },
    {
      "name": "Messages"
    },
    {
      "name": "Presence"
    },
    {
      "name": "RingOut"
    },
    {
      "name": "Dictionary"
    },
    {
      "name": "Notifications: Subscription API"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/oauth/token": {
    "post": {
    "tags": [ "Authentication" ],
    "summary": "Get Token",
    "description": "<p>This endpoint supports two flows:</p><p> <h3>1) Resource Owner Password Credentials Flow:</h3> Issues new access and refresh tokens. Requests to this endpoint must be authenticated with HTTP Basic scheme. The following paramters are required for this flow: </p><ul style=\"margin:0 0 1em 2em\"> <li> <b>1) api_key</b> </li> <li> <b>2) api_secret</b> </li> <li> <b>3) username</b> </li> <li> <b>4) password</b> </li> </ul><p> This flow can use all the parameters below except for the <b>refresh_token</b> parameter which is used for the Refresh Token Flow decribed below. Since 1.0.4 (Release 5.13) </p><p> <h3>2) Refresh Token Flow:</h3> Issues new access and refresh tokens by previously issued refresh token. Requests to this endpoint must be authenticated with HTTP Basic scheme. The following parameters are required for this flow: </p><ul style=\"margin:0 0 1em 2em\"> <li> <b>1) api_key</b> </li> <li> <b>2) api_secret</b> </li> <li> <b>3) refresh_token</b> </li> </ul><p> The only formData paramter used for this flow is the <b>refresh_token</b> parameter. Since 1.0.4 (Release 5.13) </p>",
    "consumes": [ "application/x-www-form-urlencoded" ],
    "produces": [ "application/json", "application/xml" ],
    "parameters": [
      {
        "name": "app_key",
        "default": "",
        "type": "string",
        "description": "<b>Convenience to pre-populate the Authorization header only</b>",
        "required": false
      },
      {
        "name": "app_secret",
        "default": "",
        "type": "string",
        "description": "<b>Convenience to pre-populate the Authorization header only</b>",
        "required": false
      },
      {
        "name": "username",
        "type": "string",
        "in": "formData",
        "default": "",
        "description": "<b>Phone number linked to account or extension in account in E.164 format with or without leading \"+\" sign</b>",
        "required": false,
        "allowMultiple": false
      },
      {
        "name": "password",
        "type": "string",
        "in": "formData",
        "default": "",
        "description": "<b>User's password</b>",
        "required": false,
        "allowMultiple": false,
        "format": "password"
      },
      {
        "name": "extension",
        "type": "string",
        "in": "formData",
        "description": "Optional. Extension short number. If company number is specified as a username, and \"extension\" is not specified, the server will attempt to authenticate client as main company administrator",
        "required": false,
        "allowMultiple": false
      },
      {
        "name": "grant_type",
        "default": "password",
        "type": "string",
        "in": "formData",
        "description": "<b>Must hold \"password\" value for Resource Owner Credentials flow</b>",
        "required": false,
        "allowMultiple": false
      },
      {
        "name": "access_token_ttl",
        "in": "formData",
        "description": "Optional. Access token lifetime in seconds; the possible values are from 600 sec (10 min) to 3600 sec (1 hour). The default value is 3600 sec. If the value specified exceeds the default one, the default value is set. If the value specified is less than 600 seconds, the minimum value (600 sec) is set",
        "type": "integer",
        "format": "int64"
      },
      {
        "name": "refresh_token_ttl",
        "in": "formData",
        "description": "Optional. Refresh token lifetime in seconds; default is 604800 sec (1 week). If the value specified exceeds the default one, the default value is set",
        "type": "integer",
        "format": "int64"
      },
      {
        "name": "scope",
        "type": "string",
        "default": "",
        "description": "List of API permissions to be used with access token. Can be omitted when requesting all permissions defined during the application registration phase",
        "in": "formData"
      },
      {
        "name": "refresh_token",
        "type": "string",
        "default": "",
        "description": "Previously issued refresh token. This is the only formData field used for the Refresh Token Flow. It is not used for the Resource Owner Password Credentials Flow",
        "in": "formData"
      }
    ],
    "responses": {
      "400": {
        "description": "<ul> <li>1) invalid_request: Unsupported grant type</li> <li>2) invalid_client: Bad Application Release Status: Blocked</li> </ul>"
      },
      "415": {
        "description": "Unsupported Media Type"
      },
      "429": {
        "description": "Request rate exceeded"
      }
      }
    }
    },
    "/oauth/revoke": {
      "post": {
        "tags": [ "Authentication" ],
        "summary": "Revoke Token",
        "description": "Since 1.0.5 (Release 5.14)Revokes access/refresh token. Requests to this endpoint <b>must</b> be authenticated with HTTP Basic scheme using the application key and application secret as login and password, correspondingly. ",
        "consumes": [ "application/x-www-form-urlencoded" ],
        "parameters": [
          {
            "name": "app_key",
            "default": "",
            "type": "string",
            "description": "Used to populate the Authorization header",
            "required": true
          },
          {
            "name": "app_secret",
            "default": "",
            "type": "string",
            "description": "Used to populate the Authorization header",
            "required": true
          },
          {
            "name": "token",
            "type": "string",
            "in": "formData",
            "description": "Active access or refresh token to be revoked",
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "OK"
          }
        }
      }
    },

    
    "/" : {

    "get" : {
          "tags": [ "API Versions" ],
          "summary": "Get API Versions",
          "description": "<p style='font-style:italic;'>Since 1.0.0</p><p>Returns current API version(s) and server info.</p><h4>Usage Plan Group</h4><p>Light</p><h4>Example</h4><span class='example'><div class='snippet'><pre><code>GET /restapi/ HTTP/1.1<br>Accept: application/json<br>Authorization: Bearer U0pDMDFQMDFQQVMwMXxBQUFWZmY4ZXoxMlhvSmlGdjlQc1 <br/><br/>HTTP/1.1 200 OK<br>Date: Mon, 13 Oct 2014 13:24:10 GMT<br>RoutingKey: SJC01P01PAS01<br>Content-Type: application/json<br>Content-Language: en<br>Content-Length: 312<br><br>{<br>  &quot;uri&quot; : &quot;https.../restapi/&quot;,<br>  &quot;apiVersions&quot; : [ {<br>    &quot;uri&quot; : &quot;https.../restapi/v1.0&quot;,<br>    &quot;versionString&quot; : &quot;1.0.14&quot;,<br>    &quot;releaseDate&quot; : &quot;2014-10-31T00:00:00.000Z&quot;,<br>    &quot;uriString&quot; : &quot;v1.0&quot;<br>  } ],<br>  &quot;serverVersion&quot; : &quot;7.0.0.551&quot;,<br>  &quot;serverRevision&quot; : &quot;598ed4edcc56&quot;<br>}            </code></pre></div></span>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
          ],
          "responses": {
            "default": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetVersionsResponse"
              }
            }
          }
      }},
    "/{apiVersion}" : {

    "get" : {
          "tags": [ "API Versions" ],
          "summary": "Get Version Info",
          "description": "<p style='font-style:italic;'>Since 1.0.0</p><p>Returns current API version info by apiVersion.</p><h4>Usage Plan Group</h4><p>Light</p><h4>Example</h4><span class='example'><div class='snippet'><pre><code>GET /restapi/v1.0 HTTP/1.1<br>Accept: application/json<br>Authorization: Bearer U0pDMDFQMDFQQVMwMXxBQUFWZmY4ZXoxMlhvSmlGdjlQc1f           <br/><br/>HTTP/1.1 200 OK<br>Date: Mon, 13 Oct 2014 13:57:02 GMT<br>RoutingKey: SJC01P01PAS01<br>Content-Type: application/json<br>Content-Language: en<br>Content-Length: 156<br><br>{<br>  &quot;uri&quot; : &quot;https.../restapi/v1.0&quot;,<br>  &quot;versionString&quot; : &quot;1.0.14&quot;,<br>  &quot;releaseDate&quot; : &quot;2014-10-31T00:00:00.000Z&quot;,<br>  &quot;uriString&quot; : &quot;v1.0&quot;<br>}<br>                    </code></pre></div></span>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "apiVersion",
              "type": "string",
              "in": "path",
              "description": "API version to be requested, for example 'v1.0'",              
              "required": true
            }
          ],
          "responses": {
            "default": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetVersionResponse"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}" : {

    "get" : {
          "tags": [ "Account" ],
          "summary": "Get Account Info",
          "description": "<p style='font-style:italic;'>Since 1.0.0</p><p>Returns basic information about a particular RingCentral customer account.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            }
          ],
          "responses": {
            "default": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetAccountInfoResponse"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/phone-number/{phoneNumberId}" : {

    },
    "/v1.0/account/{accountId}/extension" : {

    "get" : {
          "tags": [ "Extension" ],
          "summary": "Get Extension List",
          "description": "<p style='font-style:italic;'>Since 1.0.0</p><p>Returns the list of extensions created for a particular account. All types of extensions are included in this list.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Medium</p><h4>Example</h4><span class='example'><div class='snippet'><pre><code>GET /restapi/v1.0/account/~/extension HTTP/1.1<br>Accept: application/json<br>Authorization: Bearer U0pDMDFQMDFKV1MwMXz6J_ixC7_yYvon-KUZ31Lx-if4rw<br/><br/>HTTP/1.1 200 OK<br>Content-Language: en-US<br>Content-Type: application/json; charset=UTF-8<br><br>{<br>  &quot;uri&quot; : &quot;https.../restapi/v1.0/account/5121800004/extension?page=1&perPage=100&quot;,<br>  &quot;records&quot; : [ {<br>    &quot;uri&quot; : &quot;https.../restapi/v1.0/account/5121800004/extension/5121800004&quot;,<br>    &quot;id&quot; : 5121800004,<br>    &quot;extensionNumber&quot; : &quot;101&quot;,<br>    &quot;contact&quot; : {<br>      &quot;firstName&quot; : &quot;Jane&quot;,<br>      &quot;lastName&quot; : &quot;Smith&quot;,<br>      &quot;company&quot; : &quot;MyCompany Inc.&quot;,<br>      &quot;email&quot; : &quot;jane.smith@mycompany.com&quot;,<br>      &quot;businessPhone&quot; : &quot;+15414655302&quot;<br>    },<br>    &quot;name&quot; : &quot;Jane Smith&quot;,<br>    &quot;type&quot; : &quot;User&quot;,<br>    &quot;status&quot; : &quot;Enabled&quot;,<br>    &quot;permissions&quot; : {<br>      &quot;admin&quot; : {<br>        &quot;enabled&quot; : true<br>      },<br>      &quot;internationalCalling&quot; : {<br>        &quot;enabled&quot; : true<br>      }<br>    }<br>  }, {<br>    &quot;uri&quot; : &quot;https.../restapi/v1.0/account/5121800004/extension/5121802004&quot;,<br>    &quot;id&quot; : 5121802004,<br>    &quot;extensionNumber&quot; : &quot;102&quot;,<br>    &quot;contact&quot; : {<br>      &quot;firstName&quot; : &quot;John&quot;,<br>      &quot;lastName&quot; : &quot;Smith&quot;,<br>      &quot;email&quot; : &quot;john.smith@mycompany.com&quot;<br>    },<br>    &quot;name&quot; : &quot;John Smith&quot;,<br>    &quot;type&quot; : &quot;User&quot;,<br>    &quot;status&quot; : &quot;Enabled&quot;,<br>    &quot;permissions&quot; : {<br>      &quot;admin&quot; : {<br>        &quot;enabled&quot; : true<br>      },<br>      &quot;internationalCalling&quot; : {<br>        &quot;enabled&quot; : true<br>      }<br>    }<br>  }, {<br>    &quot;uri&quot; : &quot;https.../restapi/v1.0/account/5121800004/extension/5121804004&quot;,<br>    &quot;id&quot; : 5121804004,<br>    &quot;extensionNumber&quot; : &quot;201&quot;,<br>    &quot;contact&quot; : {<br>      &quot;firstName&quot; : &quot;Department&quot;,<br>      &quot;email&quot; : &quot;department@mycompany.com&quot;<br>    },<br>    &quot;name&quot; : &quot;Department&quot;,<br>    &quot;type&quot; : &quot;Department&quot;,<br>    &quot;status&quot; : &quot;Enabled&quot;,<br>    &quot;permissions&quot; : {<br>      &quot;admin&quot; : {<br>        &quot;enabled&quot; : false<br>      },<br>      &quot;internationalCalling&quot; : {<br>        &quot;enabled&quot; : false<br>      }<br>    }<br>  }, {<br>    &quot;uri&quot; : &quot;https.../restapi/v1.0/account/5121800004/extension/5121803004&quot;,<br>    &quot;id&quot; : 5121803004,<br>    &quot;extensionNumber&quot; : &quot;103&quot;,<br>    &quot;contact&quot; : {<br>      &quot;firstName&quot; : &quot;Suzanne&quot;,<br>      &quot;lastName&quot; : &quot;Sunny&quot;,<br>      &quot;email&quot; : &quot;suzanne.sunny@mycompany.com&quot;<br>    },<br>    &quot;name&quot; : &quot;Suzanne Sunny&quot;,<br>    &quot;type&quot; : &quot;User&quot;,<br>    &quot;status&quot; : &quot;Enabled&quot;,<br>    &quot;permissions&quot; : {<br>      &quot;admin&quot; : {<br>        &quot;enabled&quot; : false<br>      },<br>      &quot;internationalCalling&quot; : {<br>        &quot;enabled&quot; : true<br>      }<br>    }<br>  } ],<br>  &quot;paging&quot; : {<br>    &quot;page&quot; : 1,<br>    &quot;totalPages&quot; : 1,<br>    &quot;perPage&quot; : 100,<br>    &quot;totalElements&quot; : 4,<br>    &quot;pageStart&quot; : 0,<br>    &quot;pageEnd&quot; : 3<br>  },<br>  &quot;navigation&quot; : {<br>    &quot;firstPage&quot; : {<br>      &quot;uri&quot; : &quot;https.../restapi/v1.0/account/5121800004/extension?page=1&perPage=100&quot;<br>    },<br>    &quot;lastPage&quot; : {<br>      &quot;uri&quot; : &quot;https.../restapi/v1.0/account/5121800004/extension?page=1&perPage=100&quot;<br>    }<br>  }<br>}</code></pre></div></span>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "page",
              "type": "integer",
              "in": "query",
              "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'.",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
              "in": "query",
              "description": "Indicates the page size (number of items). If not specified, the value is '100' by default.",
              "required": false
            },
            {
              "name": "status",
              "type": "array",
              "items": {  
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Enabled","Disabled","NotActivated","Unassigned"],
              "in": "query",
              "description": "Extension current state. Multiple values are supported. If 'Unassigned' is specified, then extensions without extensionNumber are returned. If not specified, then all extensions are returned",
              "required": false
            },
            {
              "name": "type",
              "type": "array",
              "items": {  
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["User","FaxUser","VirtualUser","DigitalUser","Department","Announcement","Voicemail","SharedLinesGroup","PagingOnlyGroup","IvrMenu","ApplicationExtension","ParkLocation"],
              "in": "query",
              "description": "Extension type. Multiple values are supported",
              "required": false
            }
          ],
          "responses": {
            "default": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetExtensionListResponse"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}" : {

    "get" : {
          "tags": [ "Extension" ],
          "summary": "Get Extension Info",
          "description": "<p style='font-style:italic;'>Since 1.0.0</p><p>Returns basic information about a particular extension of an account.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            }
          ],
          "responses": {
            "default": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetExtensionInfoResponse"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/active-calls" : {

    "get" : {
          "tags": [ "Call Log" ],
          "summary": "Get Active Calls",
          "description": "<p style='font-style:italic;'>Since 1.0.13 (Release 6.5)</p><p>Returns records of all extension calls that are in progress, ordered by start time in descending order.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p><h4>Example</h4><span class='example'><div class='snippet'><pre><code>GET /restapi/v1.0/account/400618687004/extension/400618687004/active-calls HTTP/1.1<br>Accept: application/json<br>Authorization: Bearer U0pDMDFQMDFQQVMwMnxBQUFWZmY4ZXoxMlhvUFI5dmhYVzV            <br/><br/>HTTP/1.1 200 OK<br>Content-Type: application/json<br>Content-Length: 941<br><br>{<br>  &quot;uri&quot; : &quot;https.../restapi/v1.0/account/400618687004/extension/400618687004/active-calls?page=1&perPage=100&quot;,<br>  &quot;records&quot; : [ {<br>    &quot;uri&quot; : &quot;https.../restapi/v1.0/account/400618687004/extension/400618687004/call-log/IV5fj9D8vHjs8fw&quot;,<br>    &quot;id&quot; : &quot;IV5fj9D8vHjs8fw&quot;,<br>    &quot;sessionId&quot; : &quot;403402173004&quot;,<br>    &quot;startTime&quot; : &quot;2014-08-15T15:16:12.000Z&quot;,<br>    &quot;duration&quot; : 0,<br>    &quot;type&quot; : &quot;Voice&quot;,<br>    &quot;direction&quot; : &quot;Outbound&quot;,<br>    &quot;action&quot; : &quot;RingOut Web&quot;,<br>    &quot;result&quot; : &quot;Call connected&quot;,<br>    &quot;to&quot; : {<br>      &quot;phoneNumber&quot; : &quot;18556620006&quot;,<br>      &quot;name&quot; : &quot;John Smith&quot;<br>    },<br>    &quot;from&quot; : {<br>      &quot;name&quot; : &quot;Jane Smith&quot;<br>    }<br>  } ],<br>  &quot;paging&quot; : {<br>    &quot;page&quot; : 1,<br>    &quot;perPage&quot; : 100,<br>    &quot;pageStart&quot; : 0,<br>    &quot;pageEnd&quot; : 0<br>  },<br>  &quot;navigation&quot; : {<br>    &quot;firstPage&quot; : {<br>      &quot;uri&quot; : &quot;https.../restapi/v1.0/account/400618687004/extension/400618687004/active-calls?page=1&perPage=100&quot;<br>    }<br>  }<br>}            </code></pre></div></span>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "direction",
              "type": "array",
              "items": {  
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Inbound","Outbound"],
              "in": "query",
              "description": "The direction for the result records. It is allowed to specify more than one direction. If not specified, both inbound and outbound records are returned. Multiple values are accepted",
              "required": false
            },
            {
              "name": "type",
              "type": "array",
              "items": {  
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Voice","Fax"],
              "in": "query",
              "description": "Call type of a record. It is allowed to specify more than one type. If not specified, all call types are returned. Multiple values are accepted",
              "required": false
            },
            {
              "name": "page",
              "type": "integer",
              "in": "query",
              "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'.",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
              "in": "query",
              "description": "Indicates the page size (number of items). If not specified, the value is '100' by default.",
              "required": false
            }
          ],
          "responses": {
            "default": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/ExtensionActiveCallsResponse"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/call-log" : {

    "get" : {
          "tags": [ "Call Log" ],
          "summary": "Get Call Log Records by Filter",
          "description": "<p style='font-style:italic;'>Since 1.0.3 (Release 5.11)</p><p>Returns call log records filtered by the specified parameters.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionNumber",
              "type": "string",
              "in": "query",
              "description": "Extension number of a user. If specified, returns call log for a particular extension only. Cannot be specified together with the phoneNumber filter",
              "required": false
            },
            {
              "name": "phoneNumber",
              "type": "string",
              "in": "query",
              "description": "Phone number of a caller/call recipient. If specified, returns all calls (both incoming and outcoming) with the mentioned phone number. Cannot be specified together with the extensionNumber filter",
              "required": false
            },
            {
              "name": "direction",
              "type": "array",
              "items": {  
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Inbound","Outbound"],
              "in": "query",
              "description": "The direction for the result records. It is allowed to specify more than one direction. If not specified, both inbound and outbound records are returned. Multiple values are accepted",
              "required": false
            },
            {
              "name": "type",
              "type": "array",
              "items": {  
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Voice","Fax"],
              "in": "query",
              "description": "Call type of a record. It is allowed to specify more than one type. If not specified, all call types are returned. Multiple values are accepted",
              "required": false
            },
            {
              "name": "view",
              "type": "array",
              "items": {  
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Simple","Detailed"],
              "in": "query",
              "description": "The default value is 'Simple' for both account and extension call log",
              "required": false
            },
            {
              "name": "withRecording",
              "type": "boolean",
              "in": "query",
              "description": "'True' if only recorded calls have to be returned",
              "required": false
            },
            {
              "name": "dateTo",
              "type": "datetime",
              "in": "query",
              "description": "Specifies the ending timestamp for result records. Default: current time",
              "required": false
            },
            {
              "name": "dateFrom",
              "type": "datetime",
              "in": "query",
              "description": "The start timestamp for result records. Default value is equal to dateTo minus 1 week",
              "required": false
            },
            {
              "name": "page",
              "type": "integer",
              "in": "query",
              "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'.",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
              "in": "query",
              "description": "Indicates the page size (number of items). If not specified, the value is '100' by default.",
              "required": false
            }
          ],
          "responses": {
            "default": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/ExtensionCallLogResponse"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/call-log/{callRecordId}" : {

    "get" : {
          "tags": [ "Call Log" ],
          "summary": "Get Call Log Record",
          "description": "<p style='font-style:italic;'>Since 1.0.3 (Release 5.11)</p><p>Returns individual call log record by callRecordId(s).</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p><h4>Example</h4><span class='example'><div class='snippet'><pre><code>GET /restapi/v1.0/account/401190149008/extension/401190149008/call-log/IXPCm_tIkCduk4I HTTP/1.1<br>Authorization: Bearer U0pDMDFQMDFQQVMwMnxBQUJFU3VOMlp2bjZFSUNPU3BWV2wyZmZ4YkVPSFNDSlVFT3FaRmZTdFdraUx<br>Accept: application/json<br/><br/>{<br>   &quot;uri&quot;: &quot;https.../restapi/v1.0/account/401190149008/extension/401190149008/call-log/IXPCm_tIkCduk4I?view=Simple&quot;,<br>   &quot;id&quot;: &quot;IXPCm_tIkCduk4I&quot;,<br>   &quot;sessionId&quot;: &quot;404412141008&quot;,<br>   &quot;startTime&quot;: &quot;2015-06-25T14:57:30.000Z&quot;,<br>   &quot;duration&quot;: 60,<br>   &quot;type&quot;: &quot;Voice&quot;,<br>   &quot;direction&quot;: &quot;Inbound&quot;,<br>   &quot;action&quot;: &quot;Phone Call&quot;,<br>   &quot;result&quot;: &quot;Accepted&quot;,<br>   &quot;to&quot;:    {<br>      &quot;phoneNumber&quot;: &quot;18772160007&quot;,<br>      &quot;name&quot;: &quot;Something New&quot;<br>   },<br>   &quot;from&quot;:    {<br>      &quot;phoneNumber&quot;: &quot;18882400004&quot;,<br>      &quot;name&quot;: &quot;Something New&quot;<br>   },<br>   &quot;recording&quot;:    {<br>      &quot;uri&quot;: &quot;https.../restapi/v1.0/account/401190149008/recording/401547458008&quot;,<br>      &quot;id&quot;: &quot;401547458008&quot;,<br>      &quot;type&quot;: &quot;OnDemand&quot;,<br>      &quot;contentUri&quot;: &quot;https.../restapi/v1.0/account/401190149008/recording/401547458008/content&quot;<br>   }<br>}</code></pre></div></span>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "callRecordId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a call log record",              
              "required": true
            }
          ],
          "responses": {
            "default": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetExtensionCallLogRecordResponse"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/recording/{recordingId}" : {

    "get" : {
          "tags": [ "Call Log" ],
          "summary": "Get Call Recording",
          "description": "<p style='font-style:italic;'>Since 1.0.18</p><p>Returns call recording metadata.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallRecording</td><td>Downloading call recording content</td></tr><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p><h4>Example</h4><span class='example'><div class='snippet'><pre><code>GET /restapi/v1.0/account/401452676008/recording/401786818008<br>Authorization: Bearer U0pDMDFQMDFKV1MwMXy9Si---LvnH71KL52CevzJvUovkt<br>Content-Type=application/json;charset=UTF-8<br/><br/>HTTP 200 OK<br><br>{<br>  &quot;id&quot; : &quot;401786818008&quot;,<br>  &quot;contentUri&quot; : &quot;https.../restapi/v1.0/account/401452676008/recording/401786818008/content&quot;,<br>  &quot;contentType&quot; : &quot;audio/x-wav&quot;,<br>  &quot;duration&quot; : 30<br>}</code></pre></div></span>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "recordingId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of recording (returned in Call Log)",              
              "required": true
            }
          ],
          "responses": {
            "default": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetCallRecordingResponse"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/recording/{recordingId}/content" : {

    "get" : {
          "tags": [ "Call Log" ],
          "summary": "Get Call Recording Data",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallRecording</td><td>Downloading call recording content</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p><h4>Example</h4><span class='example'><div class='snippet'><pre><code>GET /restapi/v1.0/account/10979280004/recording/59497406004/content HTTP/1.1<br>Accept: application/json<br>Authorization: Bearer U0pDMDFQMDFQQVMwMnxBQUJFU3VOMlp2bjZFSUNPU3BWV2wyZmZ4YkVPSFNDSlVFT3FaRmZTdFdraUxYajg5<br>Range: bytes=1-10             <br/><br/>HTTP/1.1 200 OK<br>Accept-Ranges: bytes<br>Content-Type: audio/x-wav<br>Content-Language: en-US<br>Content-Length: 119808<br><br><...binary data...>      <br></code></pre></div></span>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "recordingId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a call recording, see Recording Info",              
              "required": true
            }
          ],
          "responses": {
            "default": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/company-pager" : {

    "post" : {
          "tags": [ "Messages" ],
          "summary": "Create Pager Message",
          "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Creates and sends a pager message.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>InternalMessages</td><td>Sending and receiving intra-company text messages</td></tr><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Medium</p><h4>Example</h4><span class='example'><div class='snippet'><pre><code>POST /restapi/v1.0/account/~/extension/~/company-pager HTTP/1.1<br>Accept: application/json<br>Authorization: Bearer U1BCMDFUMDRKV1MwMXzidVlSWLyuMeJ1WV-VfMBf4nVZWg<br>Content-Type: application/json<br><br>{<br>&quot;to&quot;: [{&quot;extensionNumber&quot;: &quot;102&quot;}, <br>       {&quot;extensionNumber&quot;: &quot;103&quot;}<br> ],<br>&quot;from&quot;: {&quot;extensionNumber&quot;: &quot;101&quot;},<br>&quot;text&quot;: &quot;Hello!&quot;<br>}<br>                <br/><br/>HTTP/1.1 200 OK<br>Content-Type: application/json<br><br>{<br>    &quot;uri&quot; : &quot;.../account/1346632010/extension/1346632010/message-store/315458412010&quot;,<br>    &quot;id&quot; : 315458412010,<br>    &quot;to&quot; : [ <br>        {&quot;extensionNumber&quot; : &quot;102&quot;},<br>        {&quot;extensionNumber&quot; : &quot;103&quot;} ],<br>    <br>    &quot;from&quot; : {<br>        &quot;extensionNumber&quot; : &quot;101&quot;<br>    },<br>    &quot;type&quot; : &quot;Pager&quot;,<br>    &quot;creationTime&quot; : &quot;2012-09-13T16:03:04.000Z&quot;,<br>    &quot;readStatus&quot; : &quot;Unread&quot;,<br>    &quot;priority&quot; : &quot;Normal&quot;,<br>    &quot;attachments&quot; : [ {<br>        &quot;id&quot; : 1,<br>        &quot;uri&quot; : &quot;.../account/1346632010/extension/1346632010/message-store/315458412010/content/1&quot;,<br>        &quot;contentType&quot; : &quot;text/plain&quot;<br>    } ],<br>    &quot;direction&quot; : &quot;Outbound&quot;,<br>    &quot;availability&quot; : &quot;Alive&quot;,<br>    &quot;subject&quot; : &quot;Hello!&quot;,<br>    &quot;messageStatus&quot; : &quot;Sent&quot;,<br>    &quot;conversationId&quot; : 315458412010,<br>    &quot;lastModifiedTime&quot; : &quot;2012-09-13T16:03:04.000Z&quot;<br>}<br>                </code></pre></div></span>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },{
              "name": "body",
              "type": "string",
              "in": "body",
              "description": "JSON body",
              "schema": {
                "$ref" : "#/definitions/CreatePagerMessageRequest"
              },
              "required": true
            }
            
          ],
          "responses": {
            "default": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetMessageInfoResponse"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/fax" : {

                "post": {
                "tags": [ "Messages" ],
                "summary": "Create Fax Message",
                "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Creates and sends/resends new fax message. Resend can be done if sending failed.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>Faxes</td><td>Sending and receiving faxes</td></tr><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
                "consumes" : [
                    "multipart/mixed; boundary=Boundary_1_14413901_1361871080888"
                ],
                "produces" : [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "Internal identifier of a RingCentral account (integer) or tilde (~) to indicate the account which was logged-in within the current session.",
                        "notes": "",
                        "paramType": "path",
                        "defaultValue": "~",
                        "required": true,
                        "allowMultiple": false,
                        "type": "string"
                    },
                    {
                        "name": "extensionId",
                        "in": "path",
                        "description": "Internal identifier of an extension (integer) or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
                        "notes": "",
                        "paramType": "path",
                        "defaultValue": "~",
                        "required": true,
                        "allowMultiple": false,
                        "type": "string"
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "default": "multipart/mixed; boundary=Boundary_1_14413901_1361871080888",
                        "type": "string",
                        "description": "This form fills out this required field automatically using the example MIME boundary string."
                    },
                    {
                        "name": "Content-Length",
                        "in": "header",
                        "default": "",
                        "description": "Actual content length. This form fills out this required field automatically.",
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "consumes": [ "multipart/mixed; boundary=Boundary_1_14413901_1361871080888" ],
                        "default": "--Boundary_1_14413901_1361871080888\nContent-Type: application/json\n\n{\n  \"to\":[{\"phoneNumber\":\"18005630003\"}],\n  \"faxResolution\":\"High\",\n  \"sendTime\":\"2015-02-26T09:31:20.882Z\"\n}\n\n--Boundary_1_14413901_1361871080888\nContent-Type: text/plain\n\nHello, World!\n\n--Boundary_1_14413901_1361871080888--",
                        "type": "string",
                        "description": "Multi-part MIME consisting of one part JSON body and one part text. For the MIME boundary, in this UI, use \"Boundary_1_14413901_1361871080888\". JSON body values: <table class=\"tabular-description\"><tr class=\"property row\" style=\"border-top: 1px solid #e8e8e8\"><td class=\"property-name\">Property</td><td class=\"property-value\">to</td></tr><tr class=\"row\"><td class=\"property-name\">Data type</td><td class=\"property-value\">Contact Info object</td></tr><tr class=\"row\"><td class=\"property-name\">Description</td><td class=\"property-value\">Recipient information. <b>phoneNumber</b> property is mandatory</td></tr><tr class=\"property row\" style=\"border-top: 1px solid #e8e8e8\"><td class=\"property-name\">Property</td><td class=\"property-value\">resolution</td></tr><tr class=\"row\"><td class=\"property-name\">Data type</td><td class=\"property-value\"><select><option>High</option><option>Low</option></select></td></tr><tr class=\"row\"><td class=\"property-name\">Description</td><td class=\"property-value\">Fax resolution</td></tr><tr class=\"property row\" style=\"border-top: 1px solid #e8e8e8\"><td class=\"property-name\">Property</td><td class=\"property-value\">sendTime</td></tr><tr class=\"row\"><td class=\"property-name\">Data type</td><td class=\"property-value\">datetime</td></tr><tr class=\"row\"><td class=\"property-name\">Description</td><td class=\"property-value\">Optional. Timestamp to send fax at. If not specified (current or the past),the fax issent immediately</td></tr><tr class=\"property row\" style=\"border-top: 1px solid #e8e8e8\"><td class=\"property-name\">Property</td><td class=\"property-value\">coverIndex</td></tr><tr class=\"row\"><td class=\"property-name\">Data type</td><td class=\"property-value\">Integer (0-13)<br><select><option>0 (none - no cover page)</option><option>1 (\"Ancient\" cover page)</option><option>2 (\"Birthday\" cover page)</option><option>3 (\"Blank\" cover page)</option><option>4 (\"Clasmod\" cover page)</option><option>5 (\"Classic\" cover page)</option><option>6 (\"Confidential\" cover page)</option><option>7 (\"Contempo\" cover page)</option><option>8 (\"Elegant\" cover page)</option><option>9 (\"Express\" cover page)</option><option>10 (\"Formal\" cover page)</option><option>11 (\"Jazzy\" cover page)</option><option>12 (\"Modern\" cover page)</option><option>13 (\"Urgent\" cover page)</option></select></td></tr><tr class=\"row\"><td class=\"property-name\">Description</td><td class=\"property-value\">Optional. Cover page index. If not specified, the default cover pagewhichisconfigured in \"Outbound FaxSettings\" is attached. See also \"Available Cover Pages\" table below</td></tr><tr class=\"property row\" style=\"border-top: 1px solid #e8e8e8\"><td class=\"property-name\">Property</td><td class=\"property-value\">coverPageText</td></tr><tr class=\"row\"><td class=\"property-name\">Data type</td><td class=\"property-value\">string</td></tr><tr class=\"row\"><td class=\"property-name\">Description</td><td class=\"property-value\">Optional. Cover page text, entered by the fax sender and printed on thecover page.Maximum length is limited to 1024 symbols</td></tr></table>"
                    }
                ]
            }
        },
    "/v1.0/account/{accountId}/extension/{extensionId}/sms" : {

    "post" : {
          "tags": [ "Messages" ],
          "summary": "Create SMS Message",
          "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Creates and sends new SMS message.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>SMS</td><td>Sending and receiving SMS (text) messages</td></tr><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Medium</p><h4>Example</h4><span class='example'><div class='snippet'><pre><code>POST /restapi/v1.0/account/~/extension/~/sms HTTP/1.1<br>Accept: application/json<br>Authorization: Bearer U1BCMDFUMDRKV1MwMXwVVOaPwPu88hVU5oR0u-FQFVTmhA<br>Content-Type: application/json<br><br>{<br>&quot;to&quot;: [{&quot;phoneNumber&quot;: &quot;18551003738&quot;}],<br>&quot;from&quot;: {&quot;phoneNumber&quot;: &quot;18559100010}&quot;},<br>&quot;text&quot;: &quot;Test SMS message from Platform server&quot;<br>}<br>                <br/><br/>HTTP/1.1 200 OK<br>Content-Type: application/json<br><br>{<br>    &quot;uri&quot; : &quot;.../account/1346632010/extension/1346632010/message-store/315450330010&quot;,<br>    &quot;id&quot; : 315450330010,<br>    &quot;to&quot; : [ {<br>        &quot;phoneNumber&quot; : &quot;18551003738&quot;<br>    } ],<br>    &quot;from&quot; : {<br>        &quot;phoneNumber&quot; : &quot;18559100010&quot;<br>    },<br>    &quot;type&quot; : &quot;SMS&quot;,<br>    &quot;creationTime&quot; : &quot;2012-09-13T15:21:08.000Z&quot;,<br>    &quot;readStatus&quot; : &quot;Unread&quot;,<br>    &quot;priority&quot; : &quot;Normal&quot;,<br>    &quot;attachments&quot; : [ {<br>        &quot;id&quot; : 1,<br>        &quot;uri&quot; : &quot;.../account/1346632010/extension/1346632010/message-store/315450330010/content/1&quot;,<br>        &quot;contentType&quot; : &quot;text/plain&quot;<br>    } ],<br>    &quot;direction&quot; : &quot;Outbound&quot;,<br>    &quot;availability&quot; : &quot;Alive&quot;,<br>    &quot;subject&quot; : &quot;Test SMS message from Platform server&quot;,<br>    &quot;messageStatus&quot; : &quot;Sent&quot;,<br>    &quot;conversationId&quot; : 4481650717038104652,<br>    &quot;lastModifiedTime&quot; : &quot;2012-09-13T15:21:09.000Z&quot;<br>}                </code></pre></div></span>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },{
              "name": "body",
              "type": "string",
              "in": "body",
              "description": "JSON body",
              "schema": {
                "$ref" : "#/definitions/CreateSMSMessage"
              },
              "required": true
            }
            
          ],
          "responses": {
            "default": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetMessageInfoResponse"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/message-store" : {

    "get" : {
          "tags": [ "Messages" ],
          "summary": "Get Message List",
          "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Returns the list of messages from an extension mailbox.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Light</p><h4>Example</h4><span class='example'><div class='snippet'><pre><code>GET /restapi/v1.0/account/~/extension/~/message-store HTTP/1.1<br>Accept: application/json<br>Authorization: Bearer U1BCMDFUMDRKV1MwMXwVVOaPwPu88hVU5oR0u-FQFVTmhA<br/><br/>HTTP/1.1 200 OK<br>Content-Type: application/json<br><br>{<br>    &quot;uri&quot; : &quot;.../account/1346632010/extension/1346632010/message-store?availability=Alive&page=1&perPage=100&quot;,<br>    &quot;records&quot; : [ {<br>        &quot;uri&quot; : &quot;.../account/1346632010/extension/1346632010/message-store/315433012010&quot;,<br>        &quot;id&quot; : 315433012010,<br>        &quot;to&quot; : [ {<br>            &quot;phoneNumber&quot; : &quot;18559100010&quot;<br>        } ],<br>        &quot;from&quot; : {<br>            &quot;phoneNumber&quot; : &quot;16509101086&quot;<br>        },<br>        &quot;type&quot; : &quot;SMS&quot;,<br>        &quot;creationTime&quot; : &quot;2012-09-13T14:46:37.000Z&quot;, <br>        &quot;readStatus&quot; : &quot;Unread&quot;,<br>        &quot;priority&quot; : &quot;Normal&quot;,<br>        &quot;attachments&quot; : [ {<br>            &quot;id&quot; : 1,<br>            &quot;uri&quot; : &quot;.../account/1346632010/extension/1346632010/message-store/315433012010/content/1&quot;,<br>            &quot;type&quot;: &quot;Text&quot;,<br>            &quot;contentType&quot; : &quot;text/plain&quot;<br>        } ],<br>        &quot;direction&quot; : &quot;Inbound&quot;,<br>        &quot;availability&quot; : &quot;Alive&quot;,<br>        &quot;subject&quot; : &quot;This is a sample message&quot;,<br>        &quot;messageStatus&quot; : &quot;Received&quot;,<br>        &quot;conversationId&quot; : 141549019326272744,<br>        &quot;lastModifiedTime&quot; : &quot;2012-09-13T14:46:37.000Z&quot;<br>    }, {<br>        &quot;uri&quot; : &quot;.../account/1346632010/extension/1346632010/message-store/315432888010&quot;,<br>        &quot;id&quot; : 315432888010,<br>        &quot;to&quot; : [ {<br>            &quot;phoneNumber&quot; : &quot;18559100010&quot;<br>        } ],<br>        &quot;from&quot; : {<br>            &quot;phoneNumber&quot; : &quot;16509101086&quot;<br>        },<br>        &quot;type&quot; : &quot;VoiceMail&quot;,<br>        &quot;creationTime&quot; : &quot;2012-09-13T14:44:27.000Z&quot;,<br>        &quot;readStatus&quot; : &quot;Unread&quot;,<br>        &quot;priority&quot; : &quot;Normal&quot;,<br>        &quot;attachments&quot; : [ {<br>            &quot;id&quot; : 1,<br>            &quot;uri&quot; : &quot;.../account/1346632010/extension/1346632010/message-store/315432888010/content/1&quot;,<br>            &quot;type&quot;: &quot;AudioRecording&quot;,<br>            &quot;contentType&quot; : &quot;audio/x-wav&quot;,<br>            &quot;vmDuration&quot; : 25<br>        } ],<br>        &quot;direction&quot; : &quot;Inbound&quot;,<br>        &quot;availability&quot; : &quot;Alive&quot;,<br>        &quot;messageStatus&quot; : &quot;Received&quot;,<br>        &quot;lastModifiedTime&quot; : &quot;2012-09-13T14:44:27.000Z&quot;,<br>        &quot;vmTranscriptionStatus&quot; : &quot;NotAvailable&quot;<br>    }],<br>    &quot;paging&quot;:    {<br>        &quot;page&quot;: 1,<br>        &quot;totalPages&quot;: 1,<br>        &quot;perPage&quot;: 100,<br>        &quot;totalElements&quot;: 2,<br>        &quot;pageStart&quot;: 0,<br>        &quot;pageEnd&quot;: 1<br>    },<br>    &quot;navigation&quot;:    {<br>        &quot;firstPage&quot;: {&quot;uri&quot;: &quot;.../account/1346632010/extension/1346632010/message-store?availability=Alive&page=1&perPage=100&quot;},<br>        &quot;lastPage&quot;: {&quot;uri&quot;: &quot;.../account/1346632010/extension/1346632010/message-store?availability=Alive&page=1&perPage=100&quot;}<br>    }<br>} </code></pre></div></span>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "availability",
              "type": "array",
              "items": {  
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Alive","Deleted","Purged"],
              "in": "query",
              "description": "Specifies the availability status for the resulting messages. Default value is 'Alive'. Multiple values are accepted",
              "required": false
            },
            {
              "name": "conversationId",
              "type": "integer",
              "in": "query",
              "description": "Specifies the conversation identifier for the resulting messages",
              "required": false
            },
            {
              "name": "dateFrom",
              "type": "datetime",
              "in": "query",
              "description": "The start timestamp for the resulting messages. Default value is equal to dateTo minus 1 week",
              "required": false
            },
            {
              "name": "dateTo",
              "type": "datetime",
              "in": "query",
              "description": "Specifies the ending timestamp for the resulting messages. Default: current time",
              "required": false
            },
            {
              "name": "direction",
              "type": "array",
              "items": {  
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Inbound","Outbound"],
              "in": "query",
              "description": "The direction for the resulting messages. If not specified, both inbound and outbound messages are returned. Multiple values are accepted",
              "required": false
            },
            {
              "name": "distinctConversation",
              "type": "boolean",
              "in": "query",
              "description": "If 'True', then the latest messages per every conversation ID are returned",
              "required": false
            },
            {
              "name": "messageType",
              "type": "array",
              "items": {  
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Fax","SMS","VoiceMail","Pager","Text"],
              "in": "query",
              "description": "The type of the resulting messages. If not specified, all messages without message type filtering are returned. Multiple values are accepted",
              "required": false
            },
            {
              "name": "readStatus",
              "type": "array",
              "items": {  
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Read","Unread"],
              "in": "query",
              "description": "The read status for the resulting messages. Multiple values are accepted",
              "required": false
            },
            {
              "name": "page",
              "type": "integer",
              "in": "query",
              "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
              "in": "query",
              "description": "Indicates the page size (number of items). If not specified, the value is '100' by default",
              "required": false
            },
            {
              "name": "phoneNumber",
              "type": "string",
              "in": "query",
              "description": "The phone number. If specified, messages are returned for this particular phone number only",
              "required": false
            }
          ],
          "responses": {
            "default": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetMessageList"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/message-store/{messageId}" : {

    "get" : {
          "tags": [ "Messages" ],
          "summary": "Get Message Info",
          "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Returns individual message record(s) by the given message ID(s). The length of inbound messages is unlimited. Batch request is supported.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "messageId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a message",              
              "required": true
            }
          ],
          "responses": {
            "default": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetMessageInfoResponse"
              }
            }
          }
      },"put" : {
          "tags": [ "Messages" ],
          "summary": "Update Message",
          "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Updates an individual message or several messages. Batch request is supported. Currently, only the message read status updating is supported.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>EditMessages</td><td>Viewing and updating user messages</td></tr><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Medium</p><h4>Example</h4><span class='example'><div class='snippet'><pre><code>PUT /restapi/v1.0/account/1346632010/extension/1346632010/message-store/315433012010 HTTP/1.1<br>Authorization: Bearer U1BCMDFUMDRKV1MwMXwVVOaPwPu88hVU5oR0u-FQFVTmhA<br>Content-Type: application/json<br><br>{&quot;readStatus&quot;: &quot;Read&quot;}<br>                <br/><br/>HTTP/1.1 200 OK<br>Content-Type: application/json<br><br>{<br>    &quot;uri&quot; : &quot;.../account/1346632010/extension/1346632010/message-store/1346632010/message-store/315433012010&quot;,<br>    &quot;id&quot; : 315433012010,<br>    &quot;to&quot; : [ {<br>        &quot;phoneNumber&quot; : &quot;18559100010&quot;<br>    } ],<br>    &quot;from&quot; : {<br>        &quot;phoneNumber&quot; : &quot;16509101086&quot;<br>    },<br>    &quot;type&quot; : &quot;SMS&quot;,<br>    &quot;creationTime&quot; : &quot;2012-09-13T14:46:37.000Z&quot;,<br>    &quot;readStatus&quot; : &quot;Read&quot;,<br>    &quot;priority&quot; : &quot;Normal&quot;,<br>    &quot;attachments&quot; : [ {<br>        &quot;id&quot; : 1,<br>        &quot;uri&quot; : &quot;.../account/1346632010/extension/1346632010/message-store/1346632010/message-store/315433012010/content/1&quot;,<br>        &quot;type&quot; : &quot;Text&quot;,<br>        &quot;contentType&quot; : &quot;text/plain&quot;<br>    } ],<br>    &quot;direction&quot; : &quot;Inbound&quot;,<br>    &quot;availability&quot; : &quot;Alive&quot;,<br>    &quot;subject&quot; : &quot;This is a sample message&quot;,<br>    &quot;messageStatus&quot; : &quot;Received&quot;,<br>    &quot;conversationId&quot; : 141549019326272744,<br>    &quot;lastModifiedTime&quot; : &quot;2012-09-13T15:14:46.000Z&quot;<br>}                </code></pre></div></span>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "messageId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a message",              
              "required": true
            },{
              "name": "body",
              "type": "string",
              "in": "body",
              "description": "JSON body",
              "schema": {
                "$ref" : "#/definitions/UpdateMessageRequest"
              },
              "required": true
            }
            
          ],
          "responses": {
            "default": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetMessageInfoResponse"
              }
            }
          }
      },"delete" : {
          "tags": [ "Messages" ],
          "summary": "Delete Message",
          "description": "<p style='font-style:italic;'></p><p>Deletes an individual message or several messages by the given message ID(s). The first call of this method transfers the message to the 'Delete' status. The second call transfers the deleted message to the 'Purged' status. If it is required to make the message 'Purged' immediately (from the first call), then set the query parameter purge to 'True'.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>EditMessages</td><td>Viewing and updating user messages</td></tr><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Medium</p><h4>Example</h4><span class='example'><div class='snippet'><pre><code>DELETE /restapi/v1.0/account/1346632010/extension/1346632010/message-store/315433012010 HTTP/1.1<br>Authorization: Bearer U1BCMDFUMDRKV1MwMXwVVOaPwPu88hVU5oR0u-FQFVTmhA             <br/><br/>HTTP/1.1 204 No Content             </code></pre></div></span>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "messageId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a message",              
              "required": true
            },
            {
              "name": "purge",
              "type": "boolean",
              "in": "query",
              "description": "If the value is 'True', then the message is purged immediately with all the attachments. The default value is 'False'",
              "required": false
            },
            {
              "name": "conversationId",
              "type": "integer",
              "in": "query",
              "description": "Internal identifier of a message thread",
              "required": false
            }
          ],
          "responses": {
            "default": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/message-store/{messageId}/content/{attachmentId}" : {

    "get" : {
          "tags": [ "Messages" ],
          "summary": "Get Message Attachment",
          "description": "<p style='font-style:italic;'>Since 1.0.4 (Release 5.13)</p><p>Returns particular message attachment data as a media stream.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Medium</p><h4>Example</h4><span class='example'><div class='snippet'><pre><code>1.<br>GET /restapi/v1.0/account/1346632010/extension/1346632010/message-store/313600045010/content/1 HTTP/1.1<br>Authorization: Bearer U1BCMDFUMDRKV1MwMXwVVOaPwPu88hVU5oR0u-FQFVTmhA<br><br>2.<br>GET /restapi/v1.0/account/~/extension/~/message-store/402373285008/content/1 HTTP/1.1<br>Authorization: Bearer U0pDMDFQMDFQV1MwM3w7y3hoN4VOvT1Vat2crMSnYJE6Sw<br>                <br/><br/>1.<br>HTTP/1.1 200 OK<br>Content-Type: text/plain;charset=utf-8<br><br>Test message from Platform server<br><br>2.<br>HTTP/1.1 200 OK<br>Content-Type: image/tiff<br>Content-Disposition: inline;filename=402373285008.tiff<br><br><...binary...><br>                </code></pre></div></span>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "attachmentId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a message attachment",              
              "required": true
            },
            {
              "name": "messageId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a message",              
              "required": true
            }
          ],
          "responses": {
            "default": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/presence" : {

    "get" : {
          "tags": [ "Presence" ],
          "summary": "Get Extension Presence Status",
          "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Returns presence status of an extension or several extensions. The presenceStatus is returned as Offline (the parameters telephonyStatus, message, userStatus and dndStatus are not returned at all) for the following extension types: Department/Announcement Only/Take Messages Only (Voicemail)/Fax User/Paging Only Group/Shared Lines Group/IVR Menu/Application Extension/Park Location.If the user requests his/her own presence status, the response contains actual presence status even if the status publication is turned off. Batch request is supported. For batch requests the number of extensions in one request is limited to 30. If more extensions are included in the request, the error code 400 Bad Request is returned with the logical error code InvalidMultipartRequest and the corresponding message 'Extension Presence Info multipart request is limited to 30 extensions'.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadPresence</td><td>Getting user presence information</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Light</p><h4>Example</h4><span class='example'><div class='snippet'><pre><code>GET /restapi/v1.0/account/400792315004/extension/400792315004/presence HTTP/1.1<br>Authorization: Bearer U1BCMDFUMDRKV1MwMXwpWCipXIQTrClYKKwK5DkfKVgorg<br>Accept: application/json           <br/><br/>HTTP/1.1 200 OK<br>Content-Type: application/json<br>Content-Length: 530<br><br>{<br>  &quot;uri&quot; : &quot;https.../restapi/v1.0/account/400792315004/extension/400792315004/presence&quot;,<br>  &quot;extension&quot; : {<br>    &quot;uri&quot; : &quot;https.../restapi/v1.0/account/400792315004/extension/400792315004&quot;,<br>    &quot;id&quot; : 400792315004,<br>    &quot;extensionNumber&quot; : &quot;101&quot;<br>},<br>  &quot;presenceStatus&quot; : &quot;Available&quot;,<br>  &quot;telephonyStatus&quot; : &quot;NoCall&quot;,<br>  &quot;userStatus&quot; : &quot;Available&quot;,<br>  &quot;dndStatus&quot; : &quot;TakeAllCalls&quot;,<br>  &quot;message&quot; : &quot;Hello, World&quot;,<br>  &quot;allowSeeMyPresence&quot; : true,<br>  &quot;ringOnMonitoredCall&quot; : false,<br>  &quot;pickUpCallsOnHold&quot; : false<br>}            </code></pre></div></span>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            }
          ],
          "responses": {
            "default": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetPresenceInfo"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/ringout" : {

    "post" : {
          "tags": [ "RingOut" ],
          "summary": "Make RingOut Call",
          "description": "<p style='font-style:italic;'>Since 1.0.7 (Release 5.16)</p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>RingOut</td><td>Performing two-legged ring-out phone calls</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },{
              "name": "body",
              "type": "string",
              "in": "body",
              "description": "JSON body",
              "schema": {
                "$ref" : "#/definitions/MakeRingOutRequest"
              },
              "required": true
            }
            
          ],
          "responses": {
            "default": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetRingOutStatusResponse"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/ringout/{ringoutId}" : {

    "get" : {
          "tags": [ "RingOut" ],
          "summary": "Get Status of RingOut Call",
          "description": "<p style='font-style:italic;'>Since 1.0.7 (Release 5.16)</p><p>Returns the status of a 2-leg RingOut call.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>RingOut</td><td>Performing two-legged ring-out phone calls</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Light</p><h4>Example</h4><span class='example'><div class='snippet'><pre><code>GET /restapi/v1.0/account/~/extension/~/ringout/2 HTTP/1.1<br>Accept: application/json<br>Authorization: Bearer U0pDMDFQMDFQV1MwM3zcKcfZlnowKxw6lxYDv9mfS1b6eQ<br/><br/>HTTP/1.1 200 OK<br>Content-Type: application/json<br><br>{<br>  &quot;uri&quot; : &quot;https:.../restapi/v1.0/account/400162076008/extension/400162076009/ringout/2&quot;,<br>    &quot;id&quot; : 2,<br>    &quot;status&quot; : {<br>      &quot;callStatus&quot; : &quot;Success&quot;,<br>      &quot;callerStatus&quot; : &quot;Success&quot;,<br>      &quot;calleeStatus&quot; : &quot;Success&quot;<br>    }<br>}</code></pre></div></span>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "ringoutId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a RingOut call",              
              "required": true
            }
          ],
          "responses": {
            "default": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetRingOutStatusResponse"
              }
            }
          }
      },"delete" : {
          "tags": [ "RingOut" ],
          "summary": "Cancel RingOut Call",
          "description": "<p style='font-style:italic;'></p><p>Cancels the 2-leg RingOut call.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>RingOut</td><td>Performing two-legged ring-out phone calls</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p><h4>Example</h4><span class='example'><div class='snippet'><pre><code>DELETE /restapi/v1.0/account/~/extension/~/ringout/44 HTTP/1.1<br>Accept: application/json<br>Authorization: Bearer U0pDMDFQMDFQV1MwM3ynkntrtBfuwxg4QnTdVPcFSUL_Fi            <br/><br/>HTTP/1.1 204 No Content            </code></pre></div></span>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "ringoutId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a RingOut call",              
              "required": true
            }
          ],
          "responses": {
            "default": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      }},
    "/v1.0/dictionary/country" : {

    "get" : {
          "tags": [ "Dictionary" ],
          "summary": "Get Country List",
          "description": "<p style='font-style:italic;'>Since 1.0.10 (Release 6.2)</p><p>Returns all the countries available for calling.</p><h4>Usage Plan Group</h4><p>Light</p><h4>Example</h4><span class='example'><div class='snippet'><pre><code>GET /restapi/v1.0/dictionary/country?perPage=1000 HTTP/1.1<br>Authorization: Bearer U0pDMDFQMDFQQVMwMXxBQUJFU3VOMlp2bjZFT2lRSXFiT<br><br/><br/>HTTP/1.1 200 OK<br>Content-Language: en-US<br>Content-Type: application/json; charset=UTF-8<br><br>{<br>  &quot;uri&quot; : &quot;https.../restapi/v1.0/dictionary/country?page=1&perPage=1000&quot;,<br>  &quot;records&quot; : [ {<br>    &quot;uri&quot; : &quot;https.../restapi/v1.0/dictionary/country/89&quot;,<br>    &quot;id&quot; : &quot;89&quot;,<br>    &quot;name&quot; : &quot;Afghanistan&quot;,<br>    &quot;isoCode&quot; : &quot;AF&quot;,<br>    &quot;callingCode&quot; : &quot;93&quot;,<br>    &quot;emergencyCalling&quot; : false,<br>    &quot;numberSelling&quot; : false<br>  }, {<br>    &quot;uri&quot; : &quot;https.../restapi/v1.0/dictionary/country/3&quot;,<br>    &quot;id&quot; : &quot;3&quot;,<br>    &quot;name&quot; : &quot;Albania&quot;,<br>    &quot;isoCode&quot; : &quot;AL&quot;,<br>    &quot;callingCode&quot; : &quot;355&quot;,<br>    &quot;emergencyCalling&quot; : false,<br>    &quot;numberSelling&quot; : false<br>  }, {<br>    &quot;uri&quot; : &quot;https.../restapi/v1.0/dictionary/country/4&quot;,<br>    &quot;id&quot; : &quot;4&quot;,<br>    &quot;name&quot; : &quot;Algeria&quot;,<br>    &quot;isoCode&quot; : &quot;DZ&quot;,<br>    &quot;callingCode&quot; : &quot;213&quot;,<br>    &quot;emergencyCalling&quot; : false,<br>    &quot;numberSelling&quot; : false<br>  }, {<br>    &quot;uri&quot; : &quot;https.../restapi/v1.0/dictionary/country/5&quot;,<br>    &quot;id&quot; : &quot;5&quot;,<br>    &quot;name&quot; : &quot;American Samoa&quot;,<br>    &quot;isoCode&quot; : &quot;AS&quot;,<br>    &quot;callingCode&quot; : &quot;1&quot;,<br>    &quot;emergencyCalling&quot; : false,<br>    &quot;numberSelling&quot; : false<br>  }, <br>     {...}<br>    ],<br><br>   &quot;paging&quot;:    {<br>      &quot;page&quot;: 1,<br>      &quot;totalPages&quot;: 1,<br>      &quot;perPage&quot;: 1000,<br>      &quot;totalElements&quot;: 247,<br>      &quot;pageStart&quot;: 0,<br>      &quot;pageEnd&quot;: 246<br>   },<br>   &quot;navigation&quot;:    {<br>      &quot;firstPage&quot;: {&quot;uri&quot;: &quot;https.../restapi/v1.0/dictionary/country?page=1&perPage=1000&quot;},<br>      &quot;lastPage&quot;: {&quot;uri&quot;: &quot;https.../restapi/v1.0/dictionary/country?page=1&perPage=1000&quot;}<br>   }<br>}<br> </code></pre></div></span>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "page",
              "type": "integer",
              "in": "query",
              "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
              "in": "query",
              "description": "Indicates the page size (number of items). If not specified, the value is '100' by default",
              "required": false
            }
          ],
          "responses": {
            "default": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetCountryListResponse"
              }
            }
          }
      }},
    "/v1.0/dictionary/country/{countryId}" : {

    "get" : {
          "tags": [ "Dictionary" ],
          "summary": "Get Country",
          "description": "<p style='font-style:italic;'>Since 1.0.10 (Release 6.2)</p><p>Returns the information on the required country.</p><h4>Usage Plan Group</h4><p>Light</p><h4>Example</h4><span class='example'><div class='snippet'><pre><code>GET /restapi/v1.0/dictionary/country/1 HTTP/1.1<br>Authorization: Bearer U0pDMDFQMDFQQVMwMXxBQUJFU3VOMlp2bjZFT2lRSXFiTmJ<br><br/><br/>HTTP/1.1 200 OK<br>Content-Language: en-US<br>Content-Type: application/json; charset=UTF-8<br><br>{<br>  &quot;uri&quot; : &quot;https.../restapi/v1.0/dictionary/country/1&quot;,<br>  &quot;id&quot; : &quot;1&quot;,<br>  &quot;name&quot; : &quot;United States&quot;,<br>  &quot;isoCode&quot; : &quot;US&quot;,<br>  &quot;callingCode&quot; : &quot;1&quot;,<br>  &quot;emergencyCalling&quot; : false,<br>  &quot;numberSelling&quot; : true<br>}</code></pre></div></span>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "countryId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a country",              
              "required": true
            }
          ],
          "responses": {
            "default": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetCountryInfoDictionaryResponse"
              }
            }
          }
      }},
    "/v1.0/dictionary/language" : {

    "get" : {
          "tags": [ "Dictionary" ],
          "summary": "Get Language List",
          "description": "<p style='font-style:italic;'>Since 1.0.14 (Release 6.6)</p><p>Returns the information about supported languages.</p><h4>Usage Plan Group</h4><p>Light</p><h4>Example</h4><span class='example'><div class='snippet'><pre><code>GET /restapi/v1.0/dictionary/language HTTP/1.1<br>Accept: application/json<br>Authorization: Bearer U0pDMDFQMDFQQVMwMnxBQUFWZmY4ZXoxMlhv<br/><br/>HTTP/1.1 200 OK<br>Content-Language: en-US<br>Content-Type: application/json; charset=UTF-8<br><br>{<br>  &quot;uri&quot; : &quot;https.../restapi/v1.0/dictionary/language?page=1&perPage=100&quot;,<br>  &quot;records&quot; : [ {<br>    &quot;uri&quot; : &quot;https.../restapi/v1.0/dictionary/language/1033&quot;,<br>    &quot;id&quot; : &quot;1033&quot;,<br>    &quot;name&quot; : &quot;English (United States)&quot;,<br>    &quot;isoCode&quot; : &quot;en&quot;,<br>    &quot;localeCode&quot; : &quot;en-US&quot;,<br>    &quot;ui&quot; : true,<br>    &quot;greeting&quot; : true,<br>    &quot;formattingLocale&quot; : true<br>  } ],<br>  &quot;paging&quot; : {<br>    &quot;page&quot; : 1,<br>    &quot;totalPages&quot; : 1,<br>    &quot;perPage&quot; : 100,<br>    &quot;totalElements&quot; : 1,<br>    &quot;pageStart&quot; : 0,<br>    &quot;pageEnd&quot; : 0<br>  },<br>  &quot;navigation&quot; : {<br>    &quot;firstPage&quot; : {<br>      &quot;uri&quot; : &quot;https.../restapi/v1.0/dictionary/language?page=1&perPage=100&quot;<br>    },<br>    &quot;lastPage&quot; : {<br>      &quot;uri&quot; : &quot;https.../restapi/v1.0/dictionary/language?page=1&perPage=100&quot;<br>    }<br>  }<br>}</code></pre></div></span>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
          ],
          "responses": {
            "default": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      }},
    "/v1.0/dictionary/language/{languageId}" : {

    "get" : {
          "tags": [ "Dictionary" ],
          "summary": "Get Language",
          "description": "<p style='font-style:italic;'>Since 1.0.14 (Release 6.6)</p><p>Returns language by its respective ID.</p><h4>Usage Plan Group</h4><p>Light</p><h4>Example</h4><span class='example'><div class='snippet'><pre><code>GET /restapi/v1.0/dictionary/language/1033 HTTP/1.1<br>Accept: application/json<br>Authorization: Bearer U0pDMDFQMDFQQVMwMXxBQUFWZmY4ZXoxMlhvSDBfczRRd2ZMclB1dG<br/><br/>HTTP/1.1 200 OK<br>Content-Language: en-US<br>Content-Type: application/json; charset=UTF-8<br><br>{<br>  &quot;uri&quot; : &quot;https.../restapi/v1.0/dictionary/language/1033&quot;,<br>  &quot;id&quot; : &quot;1033&quot;,<br>  &quot;name&quot; : &quot;English (United States)&quot;,<br>  &quot;isoCode&quot; : &quot;en&quot;,<br>  &quot;localeCode&quot; : &quot;en-US&quot;,<br>  &quot;ui&quot; : true,<br>  &quot;greeting&quot; : true,<br>  &quot;formattingLocale&quot; : true<br>}</code></pre></div></span>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "languageId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a language",              
              "required": true
            }
          ],
          "responses": {
            "default": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/LanguageInfo"
              }
            }
          }
      }},
    "/v1.0/dictionary/location" : {

    "get" : {
          "tags": [ "Dictionary" ],
          "summary": "Get Location List",
          "description": "<p style='font-style:italic;'>Since 1.0.10 (Release 6.2)</p><p>Returns all the available locations for the certain state.</p><h4>Usage Plan Group</h4><p>Light</p><h4>Example</h4><span class='example'><div class='snippet'><pre><code>GET /restapi/v1.0/dictionary/location?stateId=16&orderBy=City&page=1&perPage=5&withNxx=true HTTP/1.1<br>Authorization: Bearer U0pDMDFQMDFQQVMwMXxBQUJFU3VOMlp2bjZFUHBCQlMyTVk5VlhlTmlJOUh4eHJJU0ZidGplN<br/><br/>HTTP/1.1 200 OK<br>Content-Language: en-US<br>Content-Type: application/json; charset=UTF-8<br><br>{<br>  &quot;uri&quot; : &quot;https.../restapi/v1.0/dictionary/location?stateId=16&withNxx=true&orderBy=City&page=1&perPage=5&quot;,<br>  &quot;records&quot; : [ {<br>    &quot;city&quot; : &quot;Adelanto&quot;,<br>    &quot;areaCode&quot; : &quot;760&quot;,<br>    &quot;npa&quot; : &quot;760&quot;,<br>    &quot;nxx&quot; : &quot;246&quot;,<br>    &quot;state&quot; : {<br>      &quot;uri&quot; : &quot;https.../restapi/v1.0/dictionary/state/16&quot;,<br>      &quot;id&quot; : &quot;16&quot;<br>    }<br>  }, {<br>    &quot;city&quot; : &quot;Adelanto&quot;,<br>    &quot;areaCode&quot; : &quot;760&quot;,<br>    &quot;npa&quot; : &quot;760&quot;,<br>    &quot;nxx&quot; : &quot;530&quot;,<br>    &quot;state&quot; : {<br>      &quot;uri&quot; : &quot;https.../restapi/v1.0/dictionary/state/16&quot;,<br>      &quot;id&quot; : &quot;16&quot;<br>    }<br>  }, {<br>    &quot;city&quot; : &quot;Adelanto, Victorville Adelanto&quot;,<br>    &quot;areaCode&quot; : &quot;760&quot;,<br>    &quot;npa&quot; : &quot;760&quot;,<br>    &quot;nxx&quot; : &quot;523&quot;,<br>    &quot;state&quot; : {<br>      &quot;uri&quot; : &quot;https.../restapi/v1.0/dictionary/state/16&quot;,<br>      &quot;id&quot; : &quot;16&quot;<br>    }<br>  }, {<br>    &quot;city&quot; : &quot;Adelanto, Victorville Adelanto&quot;,<br>    &quot;areaCode&quot; : &quot;760&quot;,<br>    &quot;npa&quot; : &quot;760&quot;,<br>    &quot;nxx&quot; : &quot;561&quot;,<br>    &quot;state&quot; : {<br>      &quot;uri&quot; : &quot;https.../restapi/v1.0/dictionary/state/16&quot;,<br>      &quot;id&quot; : &quot;16&quot;<br>    }<br>  }, {<br>    &quot;city&quot; : &quot;Agoura&quot;,<br>    &quot;areaCode&quot; : &quot;747&quot;,<br>    &quot;npa&quot; : &quot;747&quot;,<br>    &quot;nxx&quot; : &quot;222&quot;,<br>    &quot;state&quot; : {<br>      &quot;uri&quot; : &quot;https.../restapi/v1.0/dictionary/state/16&quot;,<br>      &quot;id&quot; : &quot;16&quot;<br>    }<br>  } ],<br>  &quot;paging&quot; : {<br>    &quot;page&quot; : 1,<br>    &quot;totalPages&quot; : 1205,<br>    &quot;perPage&quot; : 5,<br>    &quot;totalElements&quot; : 6022,<br>    &quot;pageStart&quot; : 0,<br>    &quot;pageEnd&quot; : 4<br>  },<br>  &quot;navigation&quot; : {<br>    &quot;nextPage&quot; : {<br>      &quot;uri&quot; : &quot;https.../restapi/v1.0/dictionary/location?stateId=16&withNxx=true&orderBy=City&page=2&perPage=5&quot;<br>    },<br>    &quot;firstPage&quot; : {<br>      &quot;uri&quot; : &quot;https.../restapi/v1.0/dictionary/location?stateId=16&withNxx=true&orderBy=City&page=1&perPage=5&quot;<br>    },<br>    &quot;lastPage&quot; : {<br>      &quot;uri&quot; : &quot;https.../restapi/v1.0/dictionary/location?stateId=16&withNxx=true&orderBy=City&page=1205&perPage=5&quot;<br>    }<br>  }<br>}<br></code></pre></div></span>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "orderBy",
              "type": "array",
              "items": {  
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Npa","City"],
              "in": "query",
              "description": "Sorts results by the specified property. The default value is 'City'",
              "required": false
            },
            {
              "name": "page",
              "type": "integer",
              "in": "query",
              "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'.",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
              "in": "query",
              "description": "Indicates the page size (number of items). If not specified, the value is '100' by default.",
              "required": false
            },
            {
              "name": "stateId",
              "type": "string",
              "in": "query",
              "description": "Internal identifier of a state",
              "required": false
            },
            {
              "name": "withNxx",
              "type": "boolean",
              "in": "query",
[...]
